<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/admin/">Home</a>
        </li>
        <li>System</li>
        <li class="active">Users</li>
    </ul>
</div>

<div class="page-content">
    <div class="text-right">
        <button class="btn btn-sm btn-info" ng-click="add()">
            <i class="icon-plus"></i>
            Add
        </button>
    </div>
    <div class="clearfix">
        <div class="itemdiv memberdiv" ng-repeat="item in list | orderBy:'IsDisabled'">
            <div class="user">
                <img ng-src="{{item.Email | gravatar}}">
            </div>
            <div class="body">
                <div>
                    {{item.name}}
                </div>
                <div>
                    <small class="grey">{{item.loginName}}</small>
                </div>
                <div>
                    <span ng-if="!item.disabled" class="label label-success label-sm">Normal</span>
                    <span ng-if="item.disabled" class="label label-danger label-sm arrowed-in arrowed-in-right">Disabled</span>
                    <span>
                        <button class="btn btn-minier bigger btn-info btn-no-border" ng-click="edit(item)">
                            <i class="icon-pencil icon-only"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

        
<div modal="editDialog" close="close()" options="{backdrop: true,dialogFade:true}">
    <div class="modal-dialog">
        <form name="form" class="modal-content" ng-submit="save()">
            <div class="modal-header">
                Edit {{entity.UserName}}
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">User Name</label>
                        <div class="col-lg-9">
                            <span ng-if="entity._id" class="form-control-static">{{entity.name}}</span>
                            <span ng-if="!entity._id"><input type="text" class="form-control" ng-model="entity.name" required /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Login Name</label>
                        <div class="col-lg-9">
                            <span ng-if="entity._id" class="form-control-static">{{entity.loginName}}</span>
                            <span ng-if="!entity._id"><input type="text" class="form-control" ng-model="entity.loginName" required /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" ng-model="entity.email" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-9">
                            <label>
                                <input type="checkbox" class="ace" ng-model="entity.disabled" />
                                <span class="lbl"> Disabled</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" ng-disabled="form.$invalid || loading">
                    <i class="icon-save"></i>
                    Save
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="close()">
                    <i class="icon-undo"></i>
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
 
<style>
    .memberdiv {
        margin: 5px;
    }
    .btn-minier {
        top: 1px;
    }
</style>