@model IList<YangKai.BlogEngine.Modules.PostModule.Objects.Channel>
<div id="channelbox" class="postbox">
    <h3>频道</h3>
    <div class="inside">
    <ul id="channel-tabs" class="channel-tabs">
        @foreach (var channel in Model)
        {
        <li id="channel-tab-@channel.Url"><a href="JavaScript:void(0);">@channel.Name</a></li>
        }
    </ul>
    @foreach (var channel in Model)
    {
    <div id="group-@channel.Url" class="tabs-panel group-panel">
		<ul class="checklist">
            @foreach (var group in channel.Groups)
            {
            <li><label><input type="radio" value="@group.Url" name="groupRadio" />@group.Name</label></li>
            }
	    </ul>
	</div>
    }
    </div>
</div>