<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--unity实例化模式-->
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />

    <!--common-->
    <alias alias="IUnitOfWork" type="AtomLab.Domain.Infrastructure.IUnitOfWork, AtomLab.Domain" />
    <alias alias="EFUnitOfWork" type="YangKai.BlogEngine.Infrastructure.BlogEngineContext, YangKai.BlogEngine.Infrastructure" />

    <!--services-->
    <alias alias="ICommandService" type="YangKai.BlogEngine.ICommandServices.ICommandService, YangKai.BlogEngine.ICommandServices" />
    <alias alias="CommandService" type="YangKai.BlogEngine.CommandServices.CommandService, YangKai.BlogEngine.CommandServices" />
    <alias alias="IUserQueryServices" type="YangKai.BlogEngine.IQueryServices.IUserQueryServices, YangKai.BlogEngine.IQueryServices" />
    <alias alias="UserQueryServices" type="YangKai.BlogEngine.QueryServices.UserQueryServices, YangKai.BlogEngine.QueryServices" />
    <alias alias="IPostQueryServices" type="YangKai.BlogEngine.IQueryServices.IPostQueryServices, YangKai.BlogEngine.IQueryServices" />
    <alias alias="PostQueryServices" type="YangKai.BlogEngine.QueryServices.PostQueryServices, YangKai.BlogEngine.QueryServices" />
    <alias alias="IBoardQueryServices" type="YangKai.BlogEngine.IQueryServices.IBoardQueryServices, YangKai.BlogEngine.IQueryServices" />
    <alias alias="BoardQueryServices" type="YangKai.BlogEngine.QueryServices.BoardQueryServices, YangKai.BlogEngine.QueryServices" />
    <alias alias="IStatQueryServices" type="YangKai.BlogEngine.IQueryServices.IStatQueryServices, YangKai.BlogEngine.IQueryServices" />
    <alias alias="StatQueryServices" type="YangKai.BlogEngine.QueryServices.StatQueryServices, YangKai.BlogEngine.QueryServices" />

      <container>
      <register type="IUnitOfWork" mapTo="EFUnitOfWork" >
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="ICommandService" mapTo="CommandService" >
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="IUserQueryServices" mapTo="UserQueryServices" >
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="IPostQueryServices" mapTo="PostQueryServices" >
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="IBoardQueryServices" mapTo="BoardQueryServices" >
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="IStatQueryServices" mapTo="StatQueryServices" >
        <lifetime type="singleton"></lifetime>
      </register>
    </container>
  </unity>
</configuration>
