<div>
    <div class="loadingbox" ng-show="loading">正在加载...</div>
    <div class="row intro">
        <div class="span4">
            <h5 class="yellow">建站原因</h5>
            <p>Because I can.</p> 
        </div>
        <div class="span4">
            <h5 class="red">关于本站</h5>
            <p>这是一个使用流行前端组件开发的站点。</p> 
            <p>前端:AngularJS+Bootstrap(由CoffeeScript+LESS编写)</p>
            <p>后端:ASP.NET WEB API+Entity Framework</p>
        </div>
        <div class="span4">
            <h5 class="green">联系我</h5>
            <p>Email: zackyang@outlook.com</p> 
        </div>
    </div>
    <h4><strong>GitHub</strong> <a href="https://github.com/TossShinHwa/CMS">https://github.com/TossShinHwa/CMS</a></h4>
    <p>2008.12.06 建站</p>
    <div class="row technologies">
        <a ng-repeat="item in list" class="span1 {{item.css}}" ng-href="{{item.Link}}">
            <div><img ng-src="/Content/img/technologies/{{item.Image}}" /></div>
            <p>{{item.Name}}</p>
        </a>
    </div>
</div>
