@model YangKai.BlogEngine.Web.Mvc.Models.PostViewModel

<section>
    <div>
        <div>@(new HtmlString(Model.Content))</div>
        <div class="clear"></div>
        @if (Model.QrCodeUrl != null)
        {
            <a href="javascrpit:void(0);" onclick=" $(this).next().toggle();" class="glyphicon-qrcode"></a>
            <div class="qrcode">
                <img src="/upload/qrcode/@Model.QrCodeUrl" width="200" height="200" alt="二维码" class="img-thumbnail" />
            </div>
        }
        @if (Model.SourceUrl != null)
        {
            <div class="text-info">本文转载于：<a href="@Model.SourceUrl" class="text-info">@Model.SourceTitle</a></div>
        }
    </div>
</section>