@using YangKai.BlogEngine.Modules.PostModule.Objects
@{
    Layout = null;
    var prePost = ViewBag.PrePost as Post;
    var nextPost = ViewBag.NextPost as Post;
}

<ul class="post-nav">
    @if (prePost != null)
    {
        <li>
            <a href="/@prePost.Group.Url-@prePost.Url" rel="prev">&larr; · 上一篇</a>
        </li>
    }
    @if (nextPost != null)
    {
        <li>
            <a href="/@nextPost.Group.Url-@nextPost.Url" rel="next">下一篇 · &rarr;</a>
        </li>
    }
</ul>