@model YangKai.BlogEngine.Web.Mvc.Models.PostViewModel

<footer>
    <span class="glyphicon-folder-open">
        @foreach (var item in Model.Categories)
        {
            if (Model.Categories.First().Key != item.Key){<text>,</text>}
            <a href="/@Model.ChannelUrl#!/@Model.GroupUrl/category/@item.Key">@item.Value</a>
        }
    </span>
    @if (Model.Tags.Any())
    {
        <span class="glyphicon-tags">
            @foreach (var item in Model.Tags)
            {
                if (Model.Tags.First() != item){<text>,</text>}
                <a href="/@Model.ChannelUrl#!/@Model.GroupUrl/tag/@item">@item</a>
            }
        </span>
    }
</footer>