@{
    var isAdmin = YangKai.BlogEngine.Common.WebMasterCookie.IsLogin.ToString().ToLower();
}

@section readyscripts{
    if (window.location.href.indexOf('#!') == -1) {
    window.location.href = window.location.href + "#!";
    }
    ko.applyBindings(new PostViewModel(@isAdmin), $("#posts")[0]);
}

<div id="posts">
    <div class="loadingbox" data-bind="visible:listViewModel().loading">加载中...</div>
    <div data-bind="template: { name: 'post', data: $root }"></div>
</div>