@using YangKai.BlogEngine.ServiceProxy

@if (!string.IsNullOrEmpty(Request.QueryString["c"]))
{
    <div class="boxcaption"><h3>存档</h3></div>
    <div class="box">‘@(QueryFactory.Instance.Post.GetCategory(Request.QueryString["c"]).Name)’ 分类的存档</div>
}
@if (!string.IsNullOrEmpty(Request.QueryString["t"]))
{
    <div class="boxcaption"><h3>存档</h3></div>
    <div class="box">文章标签 ‘@Request.QueryString["t"]’</div>
}
else if (!string.IsNullOrEmpty(Request.QueryString["d"]))
{
    <div class="boxcaption"><h3>存档</h3></div>
    <div class="box">‘@Request.QueryString["d"]’ 分类的存档</div>
}
else if (!string.IsNullOrEmpty(Request.QueryString["k"]))
{
    <div class="boxcaption"><h3>搜索结果</h3></div>
    <div class="box">关键字:‘@Request.QueryString["k"]’</div>
}