<div class="postFooter">
    <span class="categories" data-bind="foreach: { data: mapDictionaryToArray($data.Categories), as: '$category' }">
        <!-- ko ifnot: ($index() === 0) -->,<!-- /ko -->
        <a data-bind="text: $category.value, attr: { href: '#!/' + $parent.GroupUrl + '/category/' + $category.key, title: '查看 ' + $category.value + ' 的全部文章' }"></a>
    </span>
    <span class="tags" data-bind="foreach: { data: $data.Tags, as: '$tag' }, visible: $data.Tags.length">
        <!-- ko ifnot: ($index() === 0) -->,<!-- /ko -->
        <a data-bind="text: $tag, attr: { href: '#!/' + $parent.GroupUrl + '/tag/' + $tag, title: '查看 ' + $tag + ' 的全部文章' }"></a>
    </span>
</div>
