@using YangKai.BlogEngine.Modules.PostModule.Objects
@{
    var isAdmin = YangKai.BlogEngine.Common.WebMasterCookie.IsLogin.ToString().ToLower();
}
@{
    var channel = ViewBag.Channel as Channel;
    var group = ViewBag.Group as Group;
    var channelUrl = channel == null ? string.Empty : channel.Url;
    var groupUrl = group == null ? string.Empty : group.Url;
}

@section readyscripts{
    if (window.location.href.indexOf('#!') == -1) {
    window.location.href = window.location.href + "#!";
    }
    ko.applyBindings(new PostViewModel(@isAdmin), $("#posts")[0]);
    //ko.applyBindings(new RecentMessagesViewModel(), $("#recentmessages")[0]);
    //ko.applyBindings(new RecentCommentsViewModel('@channelUrl'), $("#recentcomments")[0]);
}

    <div id="posts">
    @if (YangKai.BlogEngine.Common.WebMasterCookie.IsLogin)
    {
        <div id="addpost" class="_add"><a href="/admin/postmanage/new">添加新文章</a></div>
        <div class="clearfix"></div>
    }
    <div data-bind="template: { name: 'post', data: $root }"></div>
    </div>
