@model YangKai.BlogEngine.Web.Mvc.Models.PostViewModel
<div class="postFooter">
    <span class="categories">
        @foreach (var item in Model.Categories)
        {
            if (Model.Categories.First().Key != item.Key){<text>,</text>}
            <a href="/@Model.GroupUrl?c=@item.Key">@item.Value</a>
        }
    </span>
    <span class="tags">
        @foreach (var item in Model.Tags)
        {
            if (Model.Tags.First() != item){<text>,</text>}
            <a href="/@Model.GroupUrl?t=@item">@item</a>
        }
    </span>
</div>