@using YangKai.BlogEngine.Modules.PostModule.Objects
@{
    var prePost = ViewBag.PrePost as Post;
    var nextPost = ViewBag.NextPost as Post;
}
<div id="postnavi">
    @if (prePost != null)
    {
        <div>@Html.ActionLink(prePost.Title, "Detail", prePost.Group.Url, new { id = prePost.Url }, new { title = prePost.Title, @class = "prev", rel = "prev" })</div>
    }
    @if (nextPost != null)
    {
        <div>@Html.ActionLink(nextPost.Title, "Detail", nextPost.Group.Url, new { id = nextPost.Url }, new { title = nextPost.Title, @class = "next", rel = "next" })</div>
    }
    <div class="clear"></div>
</div>