<div class="postBody">
    <div>
        <div class="thumb" data-bind="visible: ThumbnailUrl">
            <a data-bind="attr: { href: '/' + $data.GroupUrl + '-' + $data.Url,title:$data.Title }">
                <img style="width:160px; height:100px;" data-bind="attr:{src:'/upload/thumbnail/'+$data.ThumbnailUrl,alt:$data.Title,title:$data.Title}" />
            </a>
        </div>
        <div data-bind="html:$data.Description"></div>
    </div>
    <div class="clear"></div>
</div>