@using YangKai.BlogEngine.Modules.PostModule.Objects
@{
    Post PrePost = ViewData["PrePost"] as Post;
    Post NextPost = ViewData["NextPost"] as Post;
}
<div id="postnavi">
    @if (PrePost != null)
    {
        <div>@Html.ActionLink(PrePost.Title, "Detail", PrePost.Group.Url, new { id = PrePost.Url }, new { title = PrePost.Title, @class = "prev", rel = "prev" })</div>
    }
    @if (NextPost != null)
    {
        <div>@Html.ActionLink(NextPost.Title, "Detail", NextPost.Group.Url, new { id = NextPost.Url }, new { title = NextPost.Title, @class = "next", rel = "next" })</div>
    }
    <div class="clear"></div>
</div>