<div class="postHeader">
	<span class="date" data-bind="text:$data.PubDate.Format()"></span>
	<span class="author" data-bind="text: $data.Author"></span>
    <span class="editpost"><a data-bind="attr:{href:'/admin/postmanage/edit/'+$data.Url}, visible: $root.authorized">编辑</a></span>
    <span class="deletepost"><a data-bind="click: $root.del">删除</a></span>
    <span class="comments" data-bind="text: $data.ReplyCount > 0 ? $data.ReplyCount + ' 条评论' : '没有评论'"></span>
    <span class="reviews" data-bind="text: $data.ViewCount + ' 次点击'"></span>
	<div class="clear"></div>
</div>