@model IList<YangKai.BlogEngine.Modules.PostModule.Objects.Post>
@{
    var title = Convert.ToBoolean(ViewData["IsExistPostRelated"].ToString()) ? "相关文章" : "随便看看";
}
<div id="related_posts">
    <div class="boxcaption"><h3>@title</h3></div>
    <ul class="box">
        @foreach (var item in Model)
        {
        <li>@item.PubDate.ToString("yyyy年MM月dd日") -- @Html.ActionLink(item.Title, "Detail", item.Group.Url, new { id = item.Url }, new { title = item.Title })</li>
        }
    </ul>
</div>