<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">Home</a>
        </li>
        <li><a href="/article">Article</a></li>
        <li class="active" ng-hide="entity._id">New</li>
        <li class="active" ng-show="entity._id">Edit (<span>{{ ::entity.title }}</span>)</li>
    </ul>
</div>

<div class="page-content">
    <form name="form" novalidate ng-submit="submit()" class="row article-detail">
        <div class="col-lg-8">
            <div class="form-group" ng-class="{'has-error': isSubmit && form.title.$invalid}">
                <label class="control-label">Title</label>
                <div>
                    <input type="text" class="form-control" name="title" ng-model="entity.title" ng-change="translateTitle()" required />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': isSubmit && form.url.$invalid,'has-warning':translating}">
                <label class="control-label">
                    Url
                    <span ng-show="translating">
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </label>
                <div>
                    <input type="text" class="form-control" name="url" ng-model="entity.url" required />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': isSubmit && form.content.$invalid}">
                <label class="control-label">
                    Content
                    <label class="radio-inline">
                        <input type="radio" value="" ng-model="entity.editor"> Default
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="md" ng-model="entity.editor"> MarkDown
                    </label>
                </label>
                <div ng-if="entity.editor != 'md'">
                    <textarea ck-editor name="content" ng-model="entity.content" required></textarea>
                </div>
                <div ng-if="entity.editor == 'md'">
                    <div epic-editor md="entity.markdown" ng-model="entity.content"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': isSubmit && form.content.$invalid}">
                <label class="control-label">
                    Description
                </label>
                <div>
                    <textarea ck-editor name="description" ng-model="entity.description"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="sider">
                <div>Action</div>
                <div class="clearfix">
                    <div class="pull-left">
                        <button class="btn btn-primary btn-sm" ng-disabled="loading">
                            <i class="fa fa-check"></i>
                            Submit
                        </button>
                    </div>
                    <div class="pull-right" ng-show="entity.date">
                        <button type="button" class="btn btn-danger btn-sm" ng-disabled="loading" ng-click="remove()">
                            <i class="fa fa-trash"></i>
                            Remove
                        </button>
                    </div>
                </div>
            </div>
            <div class="sider" ng-class="{'has-error': isSubmit && !entity.category}">
                <div>Category</div>
                <div>
                    <label class="radio-inline" ng-repeat="item in categories">
                        <input type="radio" value="{{item.url}}" ng-model="entity.category"> {{item.name}}
                    </label>
                </div>
            </div>
            <div class="sider">
                <div>Tags</div>
                <input type="text" class="form-control" ng-model="tags"/>
                <p>Enter tags, separated by ","</p>
            </div>
            <div class="sider">
                <div>Source</div>
                <div>
                    <div class="form-group">
                        <label class="control-label">Url</label>
                            <input type="text" class="form-control" ng-model="entity.meta.source"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
