body {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.loadingbox {
    text-align: center;
    height: 24px;
    line-height: 12px;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -45px;
    padding: 6px 16px 6px 16px;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    background: #f9edbe;
    border: 1px solid #f0c36d;
    border-radius: 5px;
    z-index: 10000;
}

.label-invalid{
    position:absolute;
    padding-bottom: 0;
}


.init-loading{
    padding-top: 100px;
}

.init-loading .ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.init-loading .ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}