@model IList<YangKai.BlogEngine.Modules.PostModule.Objects.Post>
@{
    Layout = null;
    var title = Convert.ToBoolean(ViewBag.IsExistRelatedPosts) ? "相关文章" : "随便看看";
}
<div id="related">
    <div class="title"><span>@title</span></div>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.PubDate.ToString("yyyy年MM月dd日") -- <a href="/@item.Group.Url-@item.Url">@item.Title</a></li>
        }
    </ul>
</div>