#server
[Bb]in/
[Oo]bj/
packages/
*.suo
*.user
YangKai.BlogEngine.Web.Mvc/feed*
YangKai.BlogEngine.Web.Mvc/error/
YangKai.BlogEngine.Web.Mvc/UpLoad/

#client
client/dist/
client/node_modules/

#other
.idea
*.orig
