<div class="loadingbox" ng-show="loading">{{loading}}...</div>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left">{{'global.menu.about' | translate}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">{{'global.breadcrumb.home' | translate}}</a></li>
            <li class="active">{{'global.menu.about' | translate}}</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <!--Our Team-->
    <div class="headline"><h2>Meet Our Team</h2></div>    
    <div class="row team" ng-repeat="row in members">
        <div class="col-sm-3" ng-repeat="item in row">
            <div class="thumbnail-style">
                <img class="img-responsive" ng-src="{{item.avatar}}" alt="" />
                <h3><a>{{item.ename}}</a> <small>{{item.cname}}</small></h3>
                <p>{{item.desc}}</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a ng-href="MailTo:{{item.email}}"><i class="icon-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Our Team-->
</div>
<!--=== End Content Part ===-->