.blog blockquote,
.blog blockquote p,
.blog blockquote span{
    font-size: 13px;
}

.blog > p h1,
.blog > p h2 {
    font-size: 21px;
}

.blog > p h3 {
    color: #555;
    font-size: 19px;
}

.blog > p h4 {
    font-size: 17px;
}