@charset "utf-8"; 

body {margin:0px; padding:0px;color: #484f5a; font: normal normal normal 76%/1.6em Georgia, '宋体', Times, serif;line-height: 1.8em; min-width:1002px;}
/* all style */
a {color: #2970A6;text-decoration: none;}
a:hover{color:#d54e21;text-decoration: none;}
ul,li,h1,h2,h3,h4,h5,h6,form,hr,p{padding:0px; margin:0px;}
ul{list-style:none;}
img{border:none;}
.fb{font-weight:bold;}
.fl{float:left;}
.fr{float:right;}
.tl{ text-align:left;}
.tr{text-align:right;}
.clear{clear:both;}
.db{display:block;}
.dn{display:none;}
.blue{color:#26AAE1;}
.red{color:#D91D3F;}
.gray{color:Gray;}

.validateTips { border: 1px solid #E6DB55; padding: 0.3em; }

.pages { color:red;font-weight:bold; font-size:11px;}
.pages  .item a{padding: 1px 6px;font-size: 13px;} /*数字页索引样式*/
.pages .cpb {color:red;padding: 1px 6px;font-size: 13px;} /*当前页样式*/
.pages a { text-decoration:none;padding: 0 5px; border: 1px solid #ddd;margin:0 2px; color:#000;font-weight:normal;}
.pages a:hover { background-color: #E61636; color:#fff;border:1px solid #E61636; text-decoration:none;font-weight:normal;}

/* 图标 */
.icon-del,.icon-renew{background: url(/Content/Image/icons.gif) no-repeat;font-size: 11px;height: 16px;line-height: 16px;padding-left: 20px;}
.icon-del{background-position: 0px -16px;}
.icon-renew{background-position: 0px -288px;}

/* layout */
.top{height:76px; background:url(/Content/admin-images/top.png) repeat-x;}
#logo{float:left;padding:15px 0 0 20px;}
#logo img{width:45px; height:45px;}
#caption{float:left;padding:20px 0 0 10px;}
#caption h1{font-size: 200%;height: 20px;text-decoration: none;}
#caption a{color: #555;height: 30px;text-decoration: none;}
.left-bg{background:url(/Content/admin-images/left.png) repeat-y #f9f9f9}
#admin-content{clear: both;margin-left: 165px;}
#admin-content .left{float: left;width: 164px;margin-top: 5px;margin-left: -165px; text-align:right;}
#admin-content .left ul{padding-right:26px; margin-top:20px;}
#admin-content .left li a{ color:#555}
#admin-content .left li.lock{height:28px;line-height:28px; font-weight:bold;}
#admin-content .left li.link{height:28px;line-height:28px;}
#admin-content .left .top-menu-post{background:url(/Content/admin-images/menu1.png) no-repeat; width:164px; height:24px;line-height:24px; margin-top:10px;}
#admin-content .left .top-menu-comment{background:url(/Content/admin-images/menu2.png) no-repeat; width:164px; height:24px;line-height:24px; margin-top:10px;}
#admin-content .right{float: right;width:100%;}
#admin-content #main-content{padding:5px;}

/* body title */
h2{font-size: 30px;line-height: 30px;height: 30px;padding: 16px 15px 3px 0;}
.icon32{float: left;height: 36px;margin: 14px 6px 0 0;width: 36px;background: transparent url(/Content/admin-images/icons.png) no-repeat;}
#icon-post{background-position: -552px -5px;}
.status-summary{padding-left: 5px;}
.status-summary ul li{display: inline;}
.status-summary a{line-height: 2;padding: .2em;}

/* table */
.row-actions{visibility:hidden;}
tr:hover .row-actions{visibility:visible;}
table.fixed{table-layout: fixed;}
#post-new-button{font-size: 12px;position: relative;top: -7px;margin-left: 5px;}
.widefat{border-color: #DFDFDF;background-color: white;border-width: 1px;border-style: solid;border-spacing: 0;width: 100%;clear: both;margin: 0;-moz-border-radius: 4px;-khtml-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.widefat thead tr th, .widefat tfoot tr th{color: #333;background: #DFDFDF url(/Content/admin-images/gray-grad.png) repeat-x scroll left top;}
.widefat tbody tr{vertical-align:top;}
.widefat th {padding: 7px 7px 8px;text-align: left;line-height: 1.3em;}
.widefat td, .widefat th {border-color: #DFDFDF;overflow: hidden;border-bottom-width: 1px;border-bottom-style: solid;font-size: 11px;}
.post-com-count-wrapper {min-width: 22px;font-family: Helvetica,Arial,sans-serif;}
.post-com-count {height: 1.3em;line-height: 1.1em;display: block;text-decoration: none;padding: 0 0 6px;cursor: pointer;background-position: center -80px;background-repeat: no-repeat;color: white;}
.post-com-count span {background-color: #BBB;color: white;font-size: 9px;font-weight: bold;height: 1.7em;line-height: 1.70em;min-width: .7em;padding: 0 6px;display: inline-block;cursor: pointer;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.post-com-count:hover span {background-color: #D54E21;}
.column-thumbnail{text-align:center; padding-top:6px;}
.column-thumbnail img{ width:48px; height:30px;}
.column-comments {width: 4em;padding: 8px 0;text-align: left;}
.column-comments a {float: left;}
#thumbnail{ width:100px;}
#author{ width:10%;}
#channel{ width:8%;}
#class{ width:8%;}
#categories{ width:10%;}
#tags{ width:12%;}
#comments{ width:5%;}
#date{ width:10%;}
.column-title .state-trash,.column-title .state-draft,.column-title .state-pending,.column-title .state-future{color:#fff; font-size: 11px; font-weight:normal;padding: 0px 12px;border-radius: 5px 5px; -moz-border-radius: 5px 5px;}
.column-title .state-trash{background: #d30000}
.column-title .state-draft{background: #ffa631}
.column-title .state-pending{background: #cca4e3}
.column-title .state-future{background: #ffb3a7}
/* new */
/* 左右结构 */
#post-body{float: left;clear: left;width: 100%;margin-right: -340px;}
#post-body-content{margin-right:300px;}
#side-info-column{float: right;clear: right;width: 281px;position: relative;}

h4 {display: block;font-size: 1em;font-weight: bold;margin: 5px 0;}
input.ui-button,.ui-button-text-only .ui-button-text{padding: .2em 1.5em;}
textarea, input[type="text"], input[type="password"], input[type="file"], select {border-width: 1px;border-style: solid;-moz-border-radius: 4px;-khtml-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="reset"], select {border-color: #DFDFDF;background-color: white;}
.postbox input[type="submit"]{border-color: #298CBA;font-weight: bold;color: white;background: #21759B url(/Content/admin-images/button-grad.png) repeat-x scroll left top;text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;padding: .2em 2.5em;-moz-border-radius: 11px;-khtml-border-radius: 11px;-webkit-border-radius: 11px;border-radius: 11px;}
option {padding: 2px;}
select {padding: 2px;height: 2em;}
.widget, .postbox {border-color: #DFDFDF;background-color: white;margin-bottom: 20px;border-width: 1px;border-style: solid;-moz-border-radius: 6px;-khtml-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.postbox {min-width: 255px;width: 255px;}
.postbox h3{color: #464646;padding-left:5px;background: #DFDFDF url("/Content/admin-images/gray-grad.png") repeat-x left top;text-shadow: white 0 1px 0;-moz-border-radius: 6px 6px 0 0;-webkit-border-top-right-radius: 6px;-webkit-border-top-left-radius: 6px;-khtml-border-top-right-radius: 6px;-khtml-border-top-left-radius: 6px;border-top-right-radius: 6px;border-top-left-radius: 6px;}
.postbox div.tabs-panel{overflow: auto;padding: .5em .9em;border-style: solid;border-width: 1px;border-color: #DFDFDF;margin-top:-1px;}
.postbox .inside{padding:3px;margin: 0 3px ;}
.postbox .category-panel {height: 200px;}
.postbox .group-panel {height: 120px;}
.misc-pub-section {border-bottom-color: #EEE;padding: 3px;border-bottom-width: 1px;border-bottom-style: solid;}
.category-tabs{margin-bottom: 3px;margin-top: 12px;color: #21759B;}
.category-tabs .tab {background-color: #F1F1F1;border-color: #DFDFDF;border-style: solid solid none;border-width: 1px 1px 0;}
.category-tabs li {display: inline;padding: 5px;-moz-border-radius: 3px 3px 0 0;-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;-khtml-border-top-left-radius: 3px;-khtml-border-top-right-radius: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.category-tabs a {color: #333;}
.category-tabs a:hover, a:active, a:focus {color: #D54E21;}
ul.categorychecklist li {margin: 0;padding: 0;line-height: 19px;word-wrap: break-word;}
.channel-tabs{margin-bottom: 3px;margin-top: 12px;}
.channel-tabs .tab a{color: #333;}
.channel-tabs .tab {background-color: #F1F1F1;border-color: #DFDFDF;border-style: solid solid none;border-width: 1px 1px 0;}
.channel-tabs li {display: inline;padding: 5px;-moz-border-radius: 3px 3px 0 0;-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;-khtml-border-top-left-radius: 3px;-khtml-border-top-right-radius: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.channel-tabs a {color: #333;}
.channel-tabs{color: #21759B;}
.channel-tabs a:hover, a:active, a:focus {color: #D54E21;}
ul.checklist li {margin: 0;padding: 0;line-height: 19px;word-wrap: break-word;}
#sourcetitle,#sourceurl,#tag,#add-category-name,#add-category-url{ width:100%;}
#post-status-display {font-weight: bold;}
#timestamp {background-image: url(/Content/admin-images/date-button.gif);background-repeat: no-repeat;background-position: left top;padding-left: 18px;}
#pubdate{width:75px;}
#hh, #mm {width: 2em;padding: 1px;font-size: 12px;}
#save-action,#preview-action{margin:2px 8px;}
#save-action input{ float:left;}
#preview-action input{float:right;}
#delete-action {line-height: 30px;vertical-align: middle;text-align: left;float: left;}
#publishing-action {text-align: right;float: right;line-height: 23px;}
.ajax-loading {visibility:hidden;}
#draft-ajax-loading{float:left; padding:5px 0 0 5px;}
#publishing-ajax-loading{float:left; padding:5px 0 0 5px;}
#major-publishing-actions {background: #EAF2FA;padding: 6px;padding: 3px 3px 3px 10px;clear: both;border-top: none;}
.submitbox .submitdelete {color: red;border-bottom-color: red;border-bottom-width: 1px;border-bottom-style: solid;text-decoration: none;padding: 1px 2px;}
.submitbox .submitdelete:hover {color: white;background-color: red;border-bottom-color: red;}
#tagbox #tag_list {margin: 5px 0 10px;padding: 8px;border-width: 1px;border-style: solid;line-height: 1.8em;word-spacing: 3px;-moz-border-radius: 6px;-khtml-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;border-color: #DDD;}
.fixed-link-div{ visibility:hidden;}
#category-add p{color:#aaa}
