<div class="loadingbox" ng-show="loading">{{loading}}...</div>

<ul class="breadcrumb">
    <li><a href="/#!/">{{'global.breadcrumb.home' | translate}}</a></li>
    <li class="active">{{'global.menu.board' | translate}}</li>
</ul>

<!-- respond START -->
    <div>
        <form name="form" novalidate ng-submit="save()">
            <p ng-show="AuthorForDisplay.length > 0">
                {{'board.welcome' | translate}}, <strong>{{AuthorForDisplay}}</strong>
                <span>
                    <a href="javascript:void(0);" ng-show="editmode" ng-click="editmode=!editmode">{{'board.hide' | translate}} »</a>
                    <a href="javascript:void(0);" ng-hide="editmode" ng-click="editmode=!editmode">{{'board.change' | translate}} »</a>
                </span>
            </p>
            <div ng-show="editmode">
                <div class="row form-group">
                    <div class="col-lg-4">
                        <label>{{'board.name' | translate}}*</label>
                        <input class="form-control input-sm" name="Author" type="text" ng-model="entity.Author" placeholder="{{'board.name' | translate}}*" required/>
                        <div class="label label-danger" ng-show="form.Author.$dirty && form.Author.$invalid">
                            <span ng-show="form.Author.$error.required">{{'board.nameValidTxt' | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4">
                        <label>{{'board.email' | translate}}</label>
                        <input class="form-control input-sm" name="Email" type="text" ng-model="entity.Email" placeholder="{{'board.email' | translate}}" />
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-8">
                    <label>{{'board.content' | translate}}</label>
                    <textarea name="Content" class="form-control" rows="4"  ng-model="entity.Content" required></textarea>
                    <div class="label label-danger" ng-show="form.Content.$dirty && form.Content.$invalid">
                        <span ng-show="form.Content.$error.required">{{'board.contentValidTxt' | translate}}</span>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-large" ng-disabled="loading || form.$invalid">
                    {{'board.submit' | translate}}
                </button>
            </div>
        </form>
    </div>
<!-- respond END -->
<!-- list START -->
<div class="comment">
    <ul>
        <li ng-repeat="item in list.value" ng-hide="item.IsDeleted">
            <div class="gravatar">
                <img ng-src="{{item.Gravatar}}" />
            </div>
            <div class="text">
                <span>
                    <span>#{{list.value.length-$index}}</span>
                </span>
                <div>
                    <span class="commentid">{{item.Author}}</span> : 
                    <p ng-bind-html="item.Content | line"></p>
                </div>
                <div class="comment-meta">
                    <span>{{item.CreateDate | date:"yyyy.MM.dd HH:mm" }}</span> 
                    <span ng-show="User.IsAdmin">
                        <a href="JavaScript:void(0)" ng-click="remove(item)">
                            <i class="icon-remove"></i>
                        </a>
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- list END -->
