<div class="loadingbox" ng-show="loading">{{loading}}...</div>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left">{{'global.menu.board' | translate}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">{{'global.breadcrumb.home' | translate}}</a></li>
            <li class="active">{{'global.menu.board' | translate}}</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <!-- respond START -->
    <div>
        <form name="form" novalidate ng-submit="save()">
            <p bindonce="entity" bo-show="entity.Author">
                {{'board.welcome' | translate}}, <strong bo-html="entity.Author"></strong>
                <span>
                    <a href="javascript:void(0);" ng-show="editmode" ng-click="editmode=!editmode">{{'board.hide' | translate}} »</a>
                    <a href="javascript:void(0);" ng-hide="editmode" ng-click="editmode=!editmode">{{'board.change' | translate}} »</a>
                </span>
            </p>
            <div ng-show="editmode">
                <div class="row form-group">
                    <div class="col-lg-4">
                        <label>{{'board.name' | translate}}*</label>
                        <input class="form-control input-sm" name="Author" type="text" ng-model="entity.Author" placeholder="{{'board.name' | translate}}*" required/>
                        <div class="label label-danger label-invalid" ng-show="form.Author.$invalid && submitted">
                            <span ng-show="form.Author.$error.required">{{'board.nameValidTxt' | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4">
                        <label>{{'board.email' | translate}}</label>
                        <input class="form-control input-sm" name="Email" type="text" ng-model="entity.Email" placeholder="{{'board.email' | translate}}" />
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-8">
                    <label>{{'board.content' | translate}}</label>
                    <textarea name="Content" class="form-control" rows="4"  ng-model="entity.Content" required></textarea>
                    <div class="label label-danger label-invalid" ng-show="form.Content.$invalid && submitted">
                        <span ng-show="form.Content.$error.required">{{'board.contentValidTxt' | translate}}</span>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-large" ng-disabled="loading">
                    {{'board.submit' | translate}}
                </button>
            </div>
        </form>
    </div>
    <!-- respond END -->
    <!-- list START -->
    <div class="comment">
        <ul>
            <li ng-repeat="item in list" ng-hide="item.IsDeleted">
                <div class="gravatar">
                    <img ng-src="{{item.Avatar}}" />
                </div>
                <div class="text">
                    <span>
                        <span>#{{list.length-$index}}</span>
                    </span>
                    <div>
                        <span class="commentid">{{item.Author}}</span> : 
                        <p ng-bind-html="item.Content | line"></p>
                    </div>
                    <div class="comment-meta">
                        <span>{{item.CreateDate | date:"yyyy.MM.dd HH:mm" }}</span> 
                        <span ng-show="User.IsAdmin">
                            <a href="JavaScript:void(0)" ng-click="remove(item)">
                                <i class="icon-remove"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- list END -->
</div>
<!--=== End Content Part ===-->

