.breadcrumbs {
  margin: 5px 0 0 0;
  z-index: 100;
}

.breadcrumbs li {
  float: left;
  color: #ccc;
}

.breadcrumbs a {
  color: #aaa;
}

.breadcrumbs a, .breadcrumbs span {
  margin: 5px 10px 10px 10px;
}
