<p data-bind="visible: Pager().TotalItemCount() === 0" style="display: none;">
    No results found
</p>
<div class="pagination" data-bind="template: { name: 'tpl-pager', data: Pager }"></div>

<script type="text/html" id="tpl-pager">
    <div class="pagexofx">
        <span data-bind="text: FirstItemIndex"></span>
        -
        <span data-bind="text: LastItemIndex"></span>
        of
        <strong>
            <span data-bind="text: TotalItemCount"></span>
        </strong>
        total results.
    </div>
    <ul>
        <!-- ko if:CurrentPage() === 1 -->
        <li class="disabled">
            <a href="#" class="disabledPage">&laquo;&laquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot:CurrentPage() === 1 -->
        <li>
            <a href="#" data-bind="click: function () { CurrentPage(1); }">&laquo;&laquo;</a></li>
        <!-- /ko -->
        <!-- ko if:HasPrevPage -->
        <li>
            <a href="#" data-bind="click: function () { CurrentPage(CurrentPage() - 1); }">&laquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot:HasPrevPage -->
        <li class="disabled">
            <a href="#" class="disabledPage">&laquo;</a></li>
        <!-- /ko -->
        <!-- ko foreach:Pages -->
        <!-- ko if:$data === $parent.CurrentPage() -->
        <li class="active">
            <span class="currentPage" data-bind="text: $data"></span>
        </li>
        <!-- /ko -->
        <!-- ko if:$data !== $parent.CurrentPage() -->
        <li>
            <a href="#" data-bind="text: $data, click: function () { $parent.CurrentPage($data); }"></a>
        </li>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if:HasNextPage -->
        <li>
            <a href="#" data-bind="click: function () { CurrentPage(CurrentPage() + 1); }">&raquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot:HasNextPage -->
        <li class="disabled">
            <a href="#" class="disabledPage">&raquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot:CurrentPage() === LastPage() -->
        <li>
            <a href="#" data-bind="click: function () { CurrentPage(LastPage()); }">&raquo;&raquo;</a></li>
        <!-- /ko -->
        <!-- ko if:CurrentPage() === LastPage() -->
        <li class="disabled">
            <a href="#" class="disabledPage">&raquo;&raquo;</a></li>
        <!-- /ko -->
    </ul>
</script>