@model IList<YangKai.BlogEngine.Modules.PostModule.Objects.Channel>

<header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"><img src="/Content/img/logo.gif" />iShare</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    @foreach (var channel in Model)
                    {
                        <li class="dropdown openable">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@channel.Name <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/@channel.Url#!">浏览全部</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">以分组浏览</li>
                                @foreach (var group in channel.Groups.Where(p=>!p.IsDeleted))
                                {
                                    <li><a href="/@channel.Url#!/@group.Url">@group.Name</a></li>
                                }
                                <li class="divider"></li>
                                <li><a href="/@channel.Url-calendar">存档</a></li>
                            </ul>
                        </li>
                    }
                    <li><a href="/board">留言板</a></li>
                    <li><a href="/about">关于</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>