<div id="title">
    <div id="logo">
        <img src="/Content/Image/logo.gif" alt="iSHARE" />
    </div>
    <div id="caption">
        <h1><a href="@YangKai.BlogEngine.Common.Site.ROOT_URI">@YangKai.BlogEngine.Common.Site.TITLE</a></h1>
        <div id="tagline">SHARE·LINK·FUN - @(ViewBag.SubCaption ?? "http://www.woshinidezhu.com")</div>
    </div>
    <div class="clear"></div>
</div>