<div id="footer">
    <div class="body">
        <div class="main">
            <div>
                <a href="/admin">Admin</a> |
                @Html.ActionLink("Analytics", "analytics", "Labs") |
                @Html.ActionLink("ExportData", "export", "Labs") |
                @Html.ActionLink("Probe", "probe", "Labs",null,  new { target = "_blank" })
            </div>
            <div>@YangKai.BlogEngine.Common.Config.Literal.COPYRIGHT</div>
        </div>
    </div>
</div>