@model IList<YangKai.BlogEngine.Modules.PostModule.Objects.Group>
<nav>
    <div></div>
    <ul>
        <li class="moving_bg">&nbsp;</li>
        <li class="left">&nbsp;</li>
        @if (Model != null)
        {
            <li class="div">&nbsp;</li>
            <li class="link"><a href="#!/">全部</a></li>
            foreach (var item in Model)
            {
                <li class="div">&nbsp;</li>
                <li class="link"><a href="#!/@item.Url">@item.Name</a></li>
            }
        }
        else
        {
            if (((string)ViewBag.Url).ToLower() == "board")
            {
                <li class="div">&nbsp;</li>
                <li class="link">@Html.ActionLink("留言板", "Index", "Board")</li>
            }
            if (((string)ViewBag.Url).ToLower() == "about")
            {
                <li class="div">&nbsp;</li>
                <li class="link">@Html.ActionLink("关于", "Index", "About")</li>
            }
        }
        <li class="div">&nbsp;</li>
        <li class="right">&nbsp;</li>
        @if (Model != null && Model.Any())
        {
            <li class="div fr">&nbsp;</li>
            <li class="link fr"><a href="@Model.First().Channel.Url-calendar">存档</a></li>
        }
        <li class="div fr">&nbsp;</li>
    </ul>
</nav>