<div id="footer">
    <div class="body">
        <div class="main">
            <div>
                <a href="/admin">管理后台</a> |
                @Html.ActionLink("访问统计", "index", "Analytics") |
                @Html.ActionLink("Probe", "Probe", "About", null, new { target = "_blank" })
                <!--http://www.woshinidezhu.com/elmah.axd?page=1&size=10000-->
                <!--http://www.woshinidezhu.com/Demo/DiskList/DiskList.htm-->
            </div>
            <div>&copy; Powered by 我是你的猪(YangKai QQ:83448327), 2008-2012, All Rights Reserved. 蜀ICP备09016538号.</div>
        </div>
    </div>
</div>