@using YangKai.BlogEngine.Common
@{
    ViewBag.Title = string.Format(Config.Format.PAGE_TITLE, "Page Not Found");
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section style{
    <style>
        #middle .body { background: url(/Content/Image/body_bg_no_line.png) }
    </style>
}
<h1 style="padding: 20px 20px 10px 20px;">Page Not Found</h1>
<p style="padding: 10px 20px 20px 20px;">Could not find the page: <strong>@ViewBag.RequestedUrl</strong></p>