@using YangKai.BlogEngine.Modules.PostModule.Objects
@{
    var channel = ViewBag.Channel as Channel;
    var group = ViewBag.Group as Group;
    var channelUrl = channel == null ? string.Empty : channel.Url;
    var groupUrl = group == null ? string.Empty : group.Url;
}

<div class="widget" id="recentcomments">
    <h3>最新评论</h3>
    <div class="ko-area-loader" data-bind="visible: comments().length == 0"></div>
    <ul data-bind="template: { name: 'recentCommentsViewModelTemplate', foreach: comments, afterAdd: elementFadeIn }">
    </ul>
</div>
<script type="text/javascript">
    function RecentCommentsViewModel() {
        var self = this;
        self.comments = ko.observableArray();
        self.groupUrl = '@groupUrl';
        $.getJSON('/comment/recent?channelurl=@channelUrl&groupurl=@groupUrl', self.comments);
    }

    $(document).ready(function() {
        ko.applyBindings(new RecentCommentsViewModel(), $("#recentcomments")[0]);
    });
</script>
<script type="text/html" id="recentCommentsViewModelTemplate">
    <li>
        <a data-bind="text: $data.Author, attr: { title: '《' + $data.PostTitle + '》', href: $data.GroupUrl + '/' + $data.PostUrl }"></a>
        :
        <span data-bind="html: $data.Content"></span>
    </li>
</script>