<div class="widget" id="recentcomments">
    <h3>最新评论</h3>
    <div class="ko-area-loader" data-bind="visible: list().length == 0"></div>
    <ul data-bind="template: { name: 'recent-comments-item', foreach: list, afterAdd: elementFadeIn }"></ul>
</div>