<div class="widget" id="recentmessages">
    <h3>最新留言</h3>
    <div class="ko-area-loader" data-bind="visible: board().length == 0"></div>
    <ul data-bind="template: { name: 'recent-board-item', foreach: board, afterAdd: elementFadeIn }">
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        ko.applyBindings(new RecentBoardViewModel(), $("#recentmessages")[0]);
    });
</script>