<div class="widget">
    <h3>搜索</h3>
    <div>
        <input type="text" maxlength="20" class="search" placeholder="Press enter to search." onkeydown="SearchkeyDown(value);" />
    </div>
</div>
<script type="text/javascript">
    function SearchkeyDown(txt) {
        if (window.event.keyCode == 13) {
            event.returnValue = false;
            location.href = '/@(ViewBag.GroupUrl??ViewBag.ChannelUrl)?k=' + txt;
        }
    }
</script>