@using YangKai.BlogEngine.Modules.PostModule.Objects
@{
    var channel = ViewBag.Channel as Channel;
    var group = ViewBag.Group as Group;
    var channelUrl = channel == null ? string.Empty : channel.Url;
    var groupUrl = group == null ? string.Empty : group.Url;
}

<div class="widget" id="recentcomments">
    <h3>最新评论</h3>
    <div class="ko-area-loader" id="div-sidebar-recentcomments-detail-loader"></div>
    <ul class="ko-template-container" id="div-sidebar-recentcomments-detail" data-bind="template: { name: 'recentCommentsViewModelTemplate', foreach: comments }">
    </ul>
</div>


<script type="text/javascript">
    function RecentCommentsViewModel() {
        var self = this;

        self.comments = ko.observableArray();

        $.getJSON('/comment/recent?channelurl=@channelUrl&groupurl=@groupUrl', self.comments)
            .done(function() {
                fadeOutAndFadeIn("div-sidebar-recentcomments-detail-loader", "div-sidebar-recentcomments-detail");
            });
    }

    $(document).ready(function() {
        ko.applyBindings(new RecentCommentsViewModel(), $("#recentcomments")[0]);
    });
</script>
<script type="text/html" id="recentCommentsViewModelTemplate">
    <li>
        <a href="#" data-bind="text: $data.Author, attr: { title: '《' + $data.PostTitle + '》',href:$data.GroupUrl+'-'+$data.PostUrl}"></a>
        :
        <span data-bind="html: $data.Content"></span>
    </li>
</script>