@using YangKai.BlogEngine.Modules.PostModule.Objects
@{
    var channel = ViewBag.Channel as Channel;
    var group = ViewBag.Group as Group;
    var channelUrl = channel == null ? string.Empty : channel.Url;
    var groupUrl = group == null ? string.Empty : group.Url;
}

<div class="widget" id="recentcomments">
    <h3>最新评论</h3>
    <div class="templateloading" id="div-sidebar-recentcomments-detail-loader"></div>
    <ul class="templatecontainer" data-bind="template: { name: 'recentCommentsViewModelTemplate', foreach: comments }, fadeInVisible: comments ">
    </ul>
</div>


<script type="text/javascript">
    function RecentCommentsViewModel() {
        var self = this;

        ko.bindingHandlers.fadeInVisible = {
            init: function (element) {
                fadeInVisibleFunction(element, "div-sidebar-recentcomments-detail-loader");
            }
        };

        self.comments = ko.observableArray();
        $.getJSON('/comment/recent?channelurl=@channelUrl&groupurl=@groupUrl', self.comments);
    }

    $(document).ready(function () {
        ko.applyBindings(new RecentCommentsViewModel(), document.getElementById("recentcomments"));
    });
</script>
<script type="text/html" id="recentCommentsViewModelTemplate">
    <li>
        <a href="#" data-bind="text: $data.Author, attr: { title: '《' + $data.PostTitle + '》',href:$data.GroupUrl+'-'+$data.PostUrl}"></a>
        :
        <span data-bind="html: $data.Content"></span>
    </li>
</script>