<div class="widget" id="recentmessages">
    <h3>最新留言</h3>
    <div class="ko-area-loader" id="div-sidebar-recentmessages-detail-loader"></div>
    <ul class="ko-template-container" id="div-sidebar-recentmessages-detail" data-bind="template: { name: 'recentBoardViewModelTemplate', foreach: board }">
    </ul>
</div>
<script type="text/javascript">
    function RecentBoardViewModel() {
        var self = this;

        self.board = ko.observableArray();
        
        $.getJSON('/board/recent', self.board)
            .done(function() {
                fadeOutAndFadeIn("div-sidebar-recentmessages-detail-loader", "div-sidebar-recentmessages-detail");
            });
    }

    $(document).ready(function() {
        ko.applyBindings(new RecentBoardViewModel(), document.getElementById("recentmessages"));
    });
</script>
<script type="text/html" id="recentBoardViewModelTemplate">
    <li>
        <a href="/board" data-bind="text: $data.Author, attr: { title: $data.Content }"></a>
        :
        <span data-bind="html: $data.Content"></span>
    </li>
</script>