#logo-header{ width: 30px;height: 30px;position: relative;top: -3px;}

.navbar-brand { font-size: 30px;}

.loadingbox {
  z-index: 1002;
  outline: 0px;
  position: fixed;
  height: 100px;
  line-height: 100px;
  width: 300px;
  margin-top: -50px;
  margin-left: -150px;
  left: 50%;
  top: 40%;
  background: url('/Content/img/loading_animation.gif') 200px 0 no-repeat #8ebd40;
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 50px;
}

a {
    color: #428BCA !important;
}