<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">Home</a>
        </li>
    <li class="active">Channels</li>
    </ul>
</div>

<div class="page-content">
    <div class="text-right">
        <button class="btn btn-primary btn-sm" type="button" ng-click="add()" >
            <i class="fa fa-plus"></i> New Channel
        </button>
    </div>
    <div class="hr hr-10 dotted hr-double"></div>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th style="width:120px;">Url</th>
                <th>Name</th>
                <th>Description</th>
                <th style="width:100px;">Order</th>
                <th style="width:100px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    {{item.url}}
                    <span class="label label-danger" ng-if="item.disable">Disable</span>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>
                    <span ng-show="item.main"><i class="fa fa-check"></i></span>
                    {{item.order}}
                </td>
                <td>
                    <div class="action-buttons">
                        <a class="green" href="JavaScript:void(0)" ng-click="edit(item)">
                            <i class="fa fa-pencil bigger-130"></i>
                        </a>
                        <a class="red" href="JavaScript:void(0)" ng-click="remove(item)">
                            <i class="fa fa-trash bigger-130"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div modal="editDialog" close="close()" options="{backdrop: true,dialogFade:true}">
        <div class="modal-dialog">
            <form name="form" class="modal-content" ng-submit="save()">
                <div class="modal-header">
                    Edit Channel
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Url</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" ng-model="entity.url" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name</label>
                            <div class="col-lg-9">
                                <div ng-repeat="(key, value) in languages">
                                    <p class="input-group">
                                      <span class="input-group-addon">{{key}}</span>
                                      <input type="text" class="form-control" ng-model="entity.name[value]" placeholder="{{key}}" required />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Description</label>
                            <div class="col-lg-9">
                                <p ng-repeat="(key, value) in languages">
                                    <textarea class="form-control" ng-model="entity.description[value]" placeholder="{{key}}" rows="3"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Order</label>
                            <div class="col-lg-9">
                                <input type="number" class="form-control" ng-model="entity.order" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">
                                <label>
                                    <input type="checkbox" class="ace" ng-model="entity.main" />
                                    <span class="lbl"> Default</span>
                                </label>
                                <label>
                                    <input type="checkbox" class="ace" ng-model="entity.disable" />
                                    <span class="lbl"> Disable</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" ng-disabled="form.$invalid || loading">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="close()">
                        <i class="fa fa-undo"></i>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
