<ul class="breadcrumb">
    <li><a href="/admin/#!/">Home</a></li>
    <li><a href="/admin/#!/article">Articles</a></li>
    <li class="active" ng-hide="id">New</li>
    <li class="active" ng-show="id">Edit</li>
</ul>
<div class="row">
    <div class="col-lg-8">
            <div class="form-group" ng-class="{'has-error': isSubmit && !entity.Url}">
                <label class="control-label">Url</label>
                <div>
                    <input type="text" class="form-control" ng-model="entity.Url" required />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': isSubmit && !entity.Title}">
                <label class="control-label">Title</label>
                <div>
                    <input type="text" class="form-control" ng-model="entity.Title" required />
                </div>
            </div>
        <div class="form-group" ng-class="{'has-error': isSubmit && !entity.Content}">
            <label class="control-label">Content</label>
            <div>
                <textarea ck-editor ng-model="entity.Content"></textarea>
            </div>
        </div>
         <div class="form-group" ng-class="{'has-error': isSubmit && !entity.Description}">
        <label class="control-label">Description</label>
        <div>
            <textarea ck-editor ng-model="entity.Description"></textarea>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
        <div class="sider">
            <div>Action</div>
            <div><button class="button button-flat-primary" ng-click="submit()" data-loading-text="Loading...">Submit</button></div>
        </div>
        <div class="sider">
            <div>Thumbnail</div>
            <div>
                <p ng-show="files.length<1">
                    <span class="button button-flat-action fileinput-button">
                        <i class="icon-plus icon-white"></i>
                        <span>Add image</span>
                        <input type='file' name='file' data-url='/FileManage/upload' upload />
                    </span>
                </p>
                <span ng-show="!files.length">No Attachments.</span>
                <ul class="list-unstyled">
                    <li ng-repeat="file in files">
                        <span>{{file.name}}</span>
                        <span>{{file.size | formatFileSize}}</span>
                        <a href="JavaScript:void(0)" class="icon-remove" ng-click="removeImg(file)"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sider" ng-class="{error: isSubmit && !channelValid()}">
            <div>Channel</div>
            <div>
                <label class="radio-inline" ng-repeat="item in channels.value">
                    <input type="radio" value="{{item.ChannelId}}" ng-model="$parent.channelId"> {{item.Name}}
                </label>
            </div>
        </div>
        <div class="sider" ng-class="{error: isSubmit && !groupValid()}">
            <div>Group</div>
            <div>
                <label class="radio-inline" ng-repeat="item in getGroups()">
                    <input type="radio" value="{{item.GroupId}}" ng-model="$parent.groupId"> {{item.Name}}
                </label>
                &nbsp;
            </div>
        </div>
        <div class="sider" ng-class="{error: isSubmit && !categoryValid()}">
            <div>Categories</div>
            <div ng-repeat="item in getCategories()">
                <label>
                    <input type="checkbox" value="{{item.CategoryId}}" ng-click="item.checked = item.checked ? !item.checked : false" ng-model="item.checked"> {{item.Name}}
                </label>
            </div>
        </div>
        <div class="sider">
            <div>Tags</div>
            <input type="text" class="form-control" ng-model="tags"/>
            <p>多个标签请用英文逗号（,）分开</p>
        </div>
        <div class="sider">
            <div>Source</div>
            <div>
                <div class="form-group">
                    <label class="control-label">Url</label>
                        <input type="text" class="form-control" ng-model="source.Url"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                        <input type="text" class="form-control" ng-model="source.Title"/>
                </div>
            </div>
        </div>

    </div>
</div>