<div class="loadingbox" ng-show="loading">{{loading}}...</div>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left">{{item.Group.Channel.Name}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">{{'global.breadcrumb.home' | translate}}</a></li>
            <li><a href="/list/{{item.Group.Channel.Url}}">{{item.Group.Channel.Name}}</a></li>
            <li><a href="/list/{{item.Group.Channel.Url}}/{{item.Group.Url}}">{{item.Group.Name}}</a></li>
            <li class="active">{{item.Title}}</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div ng-hide="item.Title==null">
        <article>
            <div class="date">
                <div>{{item.PubDate | date:"dd"}}</div>
                <div>{{item.PubDate | date:"yyyy.MM"}}</div>
            </div>
            <header>
                <h2><strong>{{item.Title}}</strong></h2>
                <div ng-include="'/Content/app/article/article-post-header.tpl.html'"></div>
            </header>
            <section>
                <div ng-bind-html-unsafe="item.Content"></div>
            </section>
            <footer>
            </footer>
        </article>
        <div class="post-nav">
            <ul>
                <li>
                    <a ng-show="prevPost.value" ng-href="/post/{{prevPost.value[0].Url}}" rel="prev">
                        &larr; · {{'article.preview' | translate}}
                    </a>
                </li>
                <li>
                    <a ng-show="nextPost.value" ng-href="/post/{{nextPost.value[0].Url}}" rel="next">
                        {{'article.next' | translate}} · &rarr;
                    </a>
                </li>
            </ul>
        </div>
        <div class="post-related" ng-show="relatedPost.value">
            <div class="title"><span>{{'article.related_posts' | translate}}</span></div>
            <ul>
                <li ng-repeat="item in relatedPost.value">
                    {{item.PubDate | date:"yyyy.MM.dd"}} -- <a ng-href="/post/{{item.Url}}">{{item.Title}}</a>
                </li>
            </ul>
        </div>
        <!-- list START -->
        <div class="comment">
            <div class="title"><span>{{'article.comments' | translate}}</span></div>
            <ul>
                <li ng-repeat="item in item.Comments | orderBy:'CreateDate'" ng-hide="item.IsDeleted">
                    <div class="gravatar">
                        <img ng-src="{{item.Avatar}}" />
                    </div>
                    <div class="text">
                        <span>
                            <span>#{{$index+1}}</span>
                        </span>
                        <div>
                            <span class="commentid">{{item.Author}}</span> : 
                            <p ng-bind-html="item.Content | line"></p>
                        </div>
                        <div class="comment-meta">
                            <span>{{item.CreateDate | date:"yyyy.MM.dd HH:mm" }}</span> 
                            <span ng-show="User.IsAdmin">
                                <a href="JavaScript:void(0)" ng-click="remove(item)">
                                    <i class="icon-remove"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- list END -->
        <!-- respond START -->
        <div>
            <form name="form" novalidate ng-submit="save()">
                <p bindonce="entity" bo-show="entity.Author">
                    {{'article.comment.welcome' | translate}}, <strong bo-html="entity.Author"></strong>
                    <span>
                        <a href="javascript:void(0);" ng-show="editmode" ng-click="editmode=!editmode">{{'article.comment.hide' | translate}} »</a>
                        <a href="javascript:void(0);" ng-hide="editmode" ng-click="editmode=!editmode">{{'article.comment.change' | translate}} »</a>
                    </span>
                </p>
                <div ng-show="editmode">
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label>{{'article.comment.name' | translate}}*</label>
                            <input class="form-control input-sm" name="Author" type="text" ng-model="entity.Author" placeholder="{{'article.comment.name' | translate}}*" required/>
                            <div class="label label-danger label-invalid" ng-show="form.Author.$invalid && submitted">
                                <span ng-show="form.Author.$error.required">{{'article.comment.nameValidTxt' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label>{{'article.comment.email' | translate}}</label>
                            <input class="form-control input-sm" name="Email" type="text" ng-model="entity.Email" placeholder="{{'article.comment.email' | translate}}" />
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-8">
                        <label>{{'article.comment.content' | translate}}</label>
                        <textarea name="Content" class="form-control" rows="4"  ng-model="entity.Content" required></textarea>
                        <div class="label label-danger label-invalid" ng-show="form.Content.$invalid && submitted">
                            <span ng-show="form.Content.$error.required">{{'article.comment.contentValidTxt' | translate}}</span>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary btn-large" ng-disabled="loading">
                        {{'article.comment.submit' | translate}}
                    </button>
                </div>
            </form>
        </div>
        <!-- respond END -->
    </div>
    <div ng-show="!loading && item.Title==null">
        <ul class="breadcrumb">
            <li><a href="/">{{'global.breadcrumb.home' | translate}}</a></li>
            <li class="active">404</li>
        </ul>
        <p>{{'article.not_found' | translate}}</p>
    </div>	
</div>
<!--=== End Content Part ===-->



