<ul class="breadcrumb">
    <li><a href="/admin/#!/">Admin</a></li>
    <li class="active">Channels</li>
</ul>

<div class="loadingbox" ng-show="loading">正在加载...</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Url</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in list.value">
            <td>{{item.Url}}</td>
            <td>{{item.Name}}</td>
            <td><span ng-show="item.Description" tooltip="{{item.Description}}"><i class="icon-comment"></i></span></td>
            <td><a ng-href="/admin/#!/channel('{{item.Url}}')/group">Groups</a></td>
        </tr>
    </tbody>
</table>