<div close="close()" options="opts">
    <div class="modal-dialog">
        <form name="form" class="modal-content" ng-submit="signin()">
            <div class="modal-header">
                Sgin in
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">User Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" placeholder="User name" ng-model="user.Username" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" placeholder="Password" ng-model="user.Password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-init="user.IsRemember=false" ng-model="user.IsRemember"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="button button-flat-primary" ng-disabled="form.$invalid">Sign in</button>
                <button type="button" class="button button-flat" ng-click="close()">Cancel</button>
            </div>
        </form>
    </div>
</div>