header {
  position: fixed;
  height: 50px;
  width: 100%;
  background: #1896E6;
  z-index: 101;
}

header .logo {
  width: 150px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: #097BC4;
}
