nav.menu {
  color: #999;
  padding: 10px;
  line-height: 23px;
}

nav.menu li {
  background: #262A31;
}

nav.menu a {
  color: #bbb;
}

nav.menu a:hover {
  color: #fff;
}

nav.menu ul ul a {
  padding-left: 22px;
}

nav.menu a.current, nav.menu a.current:hover{
  color: #1896E6;
  text-decoration: none;
}

nav i {
  margin-right: 5px;
}
