body {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.loadingbox {
    text-align: center;
    height: 32px;
    line-height: 18px;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -45px;
    padding: 6px 16px 6px 16px;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    background: #f9edbe;
    border: 1px solid #f0c36d;
    z-index: 10000;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.label-invalid{
    position:absolute;
    padding-bottom: 0;
}

@media (min-width: 992px){
    .navbar-toggle {
        display: none;
    }
}
@media (max-width: 992px){
    .navbar-toggle {
        display: block;
    }
}
