@{
    ViewBag.Title = "实验室";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head{
<style>
    #middle .body{background:url(/Content/Image/body_bg_no_line.png)}
    h2{ padding:20px 0 0 0;}
</style>
<script type="text/javascript">
$(function () {$("input:button").bind("click", function () { location.href = "@Url.Action("ExportDemo")"; });});
</script>
}
<h2>这里什么都没有</h2>
<div style=" width:200px;">
<div id="submitbox"><div class="submitbutton"><input id="submit" type="button" class="submit" value="Excel导出演示" /></div></div>
</div>
<div class="clear"></div>
