@model YangKai.BlogEngine.Web.Mvc.Models.BoardViewModel
@{
    ViewBag.Title = string.Format(YangKai.BlogEngine.Common.Config.Format.PAGE_TITLE, "Razor探针");
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div style="padding: 30px 0 30px 0">
    @ServerInfo.GetHtml()
</div>
