<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left">Blog</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">{{'global.breadcrumb.home' | translate}}</a></li>
            <li><a href="/list/{{item.category}}">{{item.category}}</a></li>
            <li class="active">{{item.title}}</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row blog-page blog-item">
        <!-- Left Sidebar -->
	    <div class="col-md-9 md-margin-bottom-60">
	        <!--Blog Post-->        
	        <div class="blog margin-bottom-40">
	            <h2>{{item.title}}</h2>
	            <div ng-include="'/app/article/common/article-post-header.tpl.html'"></div>
	            <p ng-bind-html-unsafe="item.content"></p>
	        </div>
	        <!--End Blog Post-->        

	        <hr>

	        <!-- Recent Comments -->
	        <div class="media">
	            <h3>{{'article.comments' | translate}} ({{ item.comments.length }})</h3>
	        </div>
	        <div class="media" ng-repeat="item in item.comments | orderBy:'date'" ng-hide="item.block">
	            <span class="pull-left">
	                <img class="media-object" ng-src="{{item.author.email | gravatar}}" alt="" />
	            </span>
	            <div class="media-body">
	                <h4 class="media-heading">
	                    {{item.author.name}}
	                    <span>
                            <small>#{{ $index + 1 }}</small>
	                        <time title="{{item.date | date:'yyyy.MM.dd HH:mm' }}">{{item.date | fromNow }}</time>
	                        <a href="JavaScript:void(0)" ng-click="remove(item, $index)" ng-show="auth.admin">
	                            <i class="fa fa-remove"></i>
	                        </a>
	                    </span>
	                </h4>
	                <p ng-bind-html="item.content | line"></p>
	            </div>
	            <hr/>
	        </div>
	        <!-- End Recent Comments -->

	        <!-- Comment Form -->
	        <div class="post-comment">
	            <h3>{{'article.comment.content' | translate}}</h3>
	            <form name="form" novalidate ng-submit="save()">
	                <p ng-show="::entity.author.name">
	                    {{'article.comment.welcome' | translate}}, <strong>{{ ::entity.author.name }}</strong>
	                    <span>
	                        <a href="javascript:void(0);" ng-show="editmode" ng-click="editmode=!editmode">{{'article.comment.hide' | translate}} »</a>
	                        <a href="javascript:void(0);" ng-hide="editmode" ng-click="editmode=!editmode">{{'article.comment.change' | translate}} »</a>
	                    </span>
	                </p>
	                <div ng-show="editmode">
	                    <div class="row form-group">
	                        <div class="col-md-7 col-md-offset-0">
	                            <label>{{'article.comment.name' | translate}} <span class="color-red">*</span></label>
	                            <input class="form-control" name="Author" type="text" ng-model="entity.author.name" placeholder="{{'article.comment.name' | translate}}*" required/>
	                            <div class="label label-danger label-invalid" ng-show="form.author.$invalid && submitted">
	                                <span ng-show="form.author.$error.required">{{'article.comment.nameValidTxt' | translate}}</span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row form-group">
	                        <div class="col-md-7 col-md-offset-0">
	                            <label>{{'article.comment.email' | translate}}</label>
	                            <input class="form-control" name="email" type="text" ng-model="entity.author.email" placeholder="{{'article.comment.email' | translate}}" />
	                        </div>
	                    </div>
	                </div>
	                <div class="row form-group">
	                    <div class="col-md-11 col-md-offset-0">
	                        <label>{{'article.comment.content' | translate}}</label>
	                        <textarea name="content" class="form-control" rows="8"  ng-model="entity.content" required></textarea>
	                        <div class="label label-danger label-invalid" ng-show="form.content.$invalid && submitted">
	                            <span ng-show="form.content.$error.required">{{'article.comment.contentValidTxt' | translate}}</span>
	                        </div>
	                    </div>
	                </div>
	                <div>
	                    <button class="btn-u" type="submit" ng-disabled="loading">
	                        {{'article.comment.submit' | translate}}
	                    </button>
	                </div>
	            </form>
	        </div>
	        <!-- End Comment Form -->
	    </div>
        <!-- End Left Sidebar -->

        <!-- Right Sidebar -->
	    <div class="col-md-3 magazine-page">
        </div>
        <!-- End Right Sidebar -->
    </div> 
</div>
<!--=== End Content Part ===-->