body {
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: "Microsoft YaHei", "微软雅黑", PMingLiU, Verdana, Arial, Helvetica, sans-serif;
  background: url(/Content/img/bg.png);
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Microsoft YaHei", "微软雅黑", PMingLiU, Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.bg-color-purple {
  background-color: #603cba !important;
}
.bg-color-greenDark {
  background-color: #008641 !important;
}
.bg-color-blue {
  background-color: #0072BC !important;
}
.bg-color-red {
  background-color: #bc1c48 !important;
}
.bg-color-green {
  background-color: #01a31c !important;
}
.bg-color-blueDark {
  background-color: #662D91 !important;
}
.bg-color-darken {
  background-color: #1c1c1c !important;
}
.bg-color-orange {
  background-color: #CD4900 !important;
}
.bg-color-yellow {
  background-color: #ffc40d !important;
}
.bg-color-pink {
  background-color: #c3325f !important;
}
::-moz-selection {
  background: #f2dede;
}
::selection {
  background: #f2dede;
}
::-webkit-selection {
  background: #f2dede;
}
.ui-match {
  background: #FF9632;
}
a:hover {
  text-decoration: none;
}
a.button:hover {
  color: #ffffff;
}
.loading {
  padding: 5px 5px 0px 20px;
  background: url(/Content/img/ajax-loader.gif) 0px 3px no-repeat;
}
article {
  margin-bottom: 20px;
  border-radius: 0;
  padding: 0px 20px 20px 20px;
  margin: 10px 0;
  min-height: 200px;
}
article .categories a:first-child .tags a:first-child {
  padding-left: 2px;
}
article section {
  margin-left: 85px;
}
article .categories {
  margin-right: 10px;
}
article .thumb {
  margin: 0px 15px 0px 10px;
  float: left;
}
article header h2 {
  margin-top: 0;
}
article header h2 a {
  cursor: pointer;
}
article header h2 strong {
  margin-left: 10px;
  padding-left: 5px;
  font-size: 24px;
  color: #428BCA;
}
article header div {
  margin: -10px 5px 20px 80px;
  padding-top: 3px;
  border-top: 1px solid #27AAE2;
}
article header div > span,
article header article footer span {
  margin-right: 20px;
}
article .date {
  width: 70px;
  height: 70px;
  background-color: #0072BC;
  color: #FFFFFF;
  float: left;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, Arial, Tahoma, Geneva;
}
article .date div:first-child {
  font-size: 38px;
  margin-top: 2px;
  height: 46px;
  line-height: 46px;
}
article .date div:last-child {
  margin-top: -3px;
  font-size: 15px;
  height: 18px;
  line-height: 18px;
}
.img-article-thumbnail {
  width: 160px;
  height: 100px;
}
.pagination {
  margin-bottom: 5px;
}
.pagination a {
  cursor: pointer;
}
.technologies {
  color: white;
  margin: 20px auto;
}
.technologies a {
  height: 130px;
  width: 130px;
  margin: 5px;
  padding: 15px;
  color: #000;
  display: block;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid #ccc;
}
.technologies a p {
  padding-top: 15px;
  font-size: 12px;
}
.technologies a div {
  text-align: center;
  display: block;
}
.technologies a div img {
  width: 80px;
  height: 80px;
}
.technologies a.wide {
  width: 270px;
}
.technologies a:hover {
  outline: 3px #225A68 solid;
}
.post-related {
  line-height: 20px;
  font-size: 13px;
  margin-top: 40px;
}
.post-related ul {
  list-style: none;
}
.post-related ul li {
  line-height: 26px;
}
.post-related ul li a:hover {
  color: #01a31c;
}
.post-related .title {
  border-top: 6px solid #01a31c;
  height: 1px;
  margin: 20px 0 30px 0;
  position: relative;
}
.post-related .title span {
  display: block;
  height: 40px;
  padding: 0 18px;
  line-height: 40px;
  background: #01a31c;
  color: #FFF;
  position: absolute;
  top: -25px;
  overflow: hidden;
}
.home {
  text-align: center;
  margin-top: 20px;
}
#cta-content {
  margin-top: -10px;
  height: 500px;
  width: 100%;
  background: url('/Content/img/main_bg_tile.jpg') repeat-x transparent 50% 50%;
  text-align: center;
  color: #fff;
}
#cta-content h1,
#cta-content h2 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#cta-content .grid-image {
  width: 100%;
  height: 100%;
  background: url('/Content/img/main_bg_grid_tile.png') repeat transparent;
}
#cta-content .lights {
  width: 100%;
  height: 100%;
  background: url('/Content/img/main_bg_image.jpg') repeat-x transparent 50% 50%;
}
#cta-content .wrapped-content {
  padding: 150px 0px 20px 0px;
  margin: auto;
}
#cta-content h1 {
  letter-spacing: 12px;
  color: white;
  font-size: 50px;
  margin: 3px 0px;
}
#cta-content h2 {
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 22px;
}
#cta-content h2 p {
  margin: auto;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 10px;
}
.post-nav a,
.post-nav span {
  height: 35px;
  display: block;
  color: #FFF;
  padding: 0 20px 0 20px;
}
.post-nav {
  margin-bottom: 15px;
  letter-spacing: 4px;
  overflow: hidden;
  display: block;
  text-align: center;
  margin-left: 16px;
  position: relative;
}
.post-nav a:hover {
  background: #0072BC;
  text-decoration: none;
}
.post-nav li {
  line-height: 35px;
  height: 35px;
  display: block;
  margin-right: 20px;
  background: #CCC;
  color: #FFF;
  float: left;
}
#archives .group > a,
.group > a:hover {
  color: #333333;
}
#archives ul {
  padding: 5px;
  margin-left: 10px;
}
.intro h5 {
  margin: 10px 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 5px solid;
}
.intro h5.green {
  border-color: #008641;
  color: #008641;
}
.intro h5.red {
  border-color: #bc1c48;
  color: #bc1c48;
}
.intro h5.yellow {
  border-color: #ffc40d;
  color: #ffc40d;
}
.breadcrumb {
  padding-left: 10px;
  border-left: #F88FB7 20px solid;
  border-radius: 0;
}
.comment {
  line-height: 20px;
  font-size: 13px;
  margin-top: 40px;
  position: relative;
}
.comment li:hover .gravatar {
  border-right-color: #E38383;
}
.comment li:hover .comment-meta a {
  display: inline;
}
.comment .comment-meta a {
  display: none;
  margin-top: 5px;
  color: #CCC;
}
.comment ul {
  list-style: none;
}
.comment .commentid {
  font-weight: bold;
  color: #E38383;
}
.comment .text > span {
  float: right;
  padding-right: 5px;
  font-size: 13px;
  color: #CCC;
}
.comment li {
  margin-bottom: 15px;
  padding-bottom: 21px;
  background: url(/Content/img/postline.png) bottom repeat-x;
  zoom: 1;
}
.comment .nocomment {
  padding: 20px;
  font-size: 20px;
}
.comment .gravatar {
  float: left;
  padding-right: 20px;
  border-right: 1px solid #D1D9DB;
  margin: 0 20px 0 0;
  border-right-color: #D1D9DB;
}
.comment .title {
  border-top: 6px solid #0072BC;
  height: 1px;
  margin: 20px 0 40px 0;
  position: relative;
}
.comment .title span {
  display: block;
  height: 40px;
  padding: 0 18px;
  line-height: 40px;
  background: #0072BC;
  color: #FFF;
  position: absolute;
  top: -25px;
  overflow: hidden;
}
.gravatar img {
  width: 40px;
  height: 40px;
}
.loadingbox {
  text-align: center;
  height: 24px;
  line-height: 12px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -45px;
  padding: 6px 16px 6px 16px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  background: #f9edbe;
  border: 1px solid #f0c36d;
  border-radius: 5px;
  z-index: 10000;
}
.navbar .search {
  margin: 12px 15px 0 15px;
  height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  font-weight: normal;
  width: 90px;
  border: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: width .7s;
  -moz-transition: width .7s;
  transition: width .7s;
}
.navbar .search:focus {
  width: 180px;
}
.navbar .btn-navbar {
  margin-top: 10px;
}
.navbar .navbar-brand {
  padding: 5px 20px 5px;
}
.navbar .navbar-brand img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.container .content {
  margin: 0px auto;
  color: #666;
}
.container > footer {
  text-align: center;
}
.container > footer .footer-links {
  margin-top: 10px;
}
.container > footer .footer-links li:first-child {
  padding-left: 0;
}
.container > footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
.container > footer p {
  margin-bottom: 0;
  color: #777;
}
.avatar-mini {
  width: 24px;
  height: 24px;
}
.personal-box {
  padding: 15px;
  width: 320px;
}
.personal-box p {
  color: #666;
}
.personal-box .avatar {
  width: 80px;
  height: 80px;
}
.personal-box .hr {
  border-bottom: 1px solid #BEBEBE;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
  padding-bottom: 15px;
}
table .action {
  width: 20px;
}
/* admin */
.sider {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}
.sider > div:first-child {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sider.has-error {
  border-color: #b94a48;
}
.sider.has-error > div:first-child {
  color: #b94a48;
}
.form-group.has-error span[class*="cke_editor_"] {
  border-color: #b94a48;
}
/* Responsive variations
-------------------------------------------------- */
/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
  .navbar .navbar-right input {
    display: block;
  }
  #cta-content {
    height: 250px;
  }
  #cta-content h1 {
    font-size: 16px;
  }
  #cta-content h2 {
    font-size: 12px;
  }
  #cta-content .wrapped-content {
    padding: 70px 0px 20px 0px;
  }
}
@media screen and (min-width: 480px) {
  .navbar .navbar-right input {
    display: none;
  }
  #cta-content {
    height: 350px;
  }
  #cta-content h1 {
    font-size: 20px;
  }
  #cta-content h2 {
    font-size: 16px;
  }
  #cta-content .wrapped-content {
    padding: 120px 0px 20px 0px;
  }
}
/* Tablets and up */
@media screen and (min-width: 768px) {
  .navbar .navbar-right input {
    display: none;
  }
  #cta-content {
    height: 500px;
  }
  #cta-content h1 {
    font-size: 30px;
  }
  #cta-content h2 {
    font-size: 18px;
  }
  #cta-content .wrapped-content {
    padding: 150px 0px 20px 0px;
  }
}
/* Tablets/desktops and up */
@media screen and (min-width: 992px) {
  .navbar .navbar-right input {
    display: none;
  }
  #cta-content {
    height: 450px;
  }
  #cta-content h1 {
    font-size: 40px;
  }
  #cta-content h2 {
    font-size: 20px;
  }
  #cta-content .wrapped-content {
    padding: 140px 0px 20px 0px;
  }
}
/* Large desktops and up */
@media screen and (min-width: 1200px) {
  .navbar .navbar-right input {
    display: block;
  }
  #cta-content {
    height: 500px;
  }
  #cta-content h1 {
    font-size: 50px;
  }
  #cta-content h2 {
    font-size: 22px;
  }
  #cta-content .wrapped-content {
    padding: 150px 0px 20px 0px;
  }
}
