<div class="loadingbox" ng-show="loading">{{loading}}...</div>

<div id="archives">
    <ul class="breadcrumb">
        <li><a href="/#!/">Home</a></li>
        <li class="active">Archives</li>
    </ul>
    <ul class="list-unstyled">
        <li ng-repeat="item in list | orderBy:'-date'">
            <h3 style="border-bottom: 1px solid #999">
                {{item.date}}
            </h3>
            <ul class="list-unstyled">
                <li ng-repeat="post in item.posts | orderBy:'-PubDate'">
                    {{post.PubDate | date:"yyyy-MM-dd"}}
                    »  
                    <a href="/#!/post/{{post.Url}}" title="{{post.channel}} - {{post.group}}">{{post.Title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<style>
    #archives .group >a,.group >a:hover{color:#333}
    #archives ul{ padding: 5px;margin-left: 10px;}
</style>