<div id="archives">
    <div class="loadingbox" ng-show="loading">loading...</div>
    <ul class="breadcrumb">
        <li><a href="/#!/">Home</a></li>
        <li class="active">Archives</li>
    </ul>
    <ul class="list-unstyled">
        <li ng-repeat="channel in list.value">
            <div>
                <i class="icon-caret-down"></i>
                {{channel.Name}}
            </div>
            <ul class="list-unstyled">
                <li ng-repeat="group in channel.Groups" ng-show="!group.IsDeleted" class="group">
                    <a href="JavaScript:void(0)" ng-click="group.show=!group.show">
                        <i class="icon-caret-right" ng-hide="group.show"></i>
                        <i class="icon-caret-down" ng-show="group.show"></i>
                        {{group.Name}}
                    </a>
                    <ul ng-show="group.show" class="list-unstyled">
                        <li ng-repeat="post in group.Posts | orderBy:'-PubDate'" ng-show="group.show && !post.IsDeleted" class="post">
                            {{post.PubDate | date:"yy.MM.dd"}}: 
                            <a href="/#!/post/{{post.Url}}">{{post.Title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<style>
    #archives .group >a,.group >a:hover{color:#333}
    #archives ul{ padding: 5px;margin-left: 10px;}
</style>