    <div class="loadingbox" ng-show="loading">loading...</div>

    <div ng-hide="item.Title==null">
        <ul class="breadcrumb">
            <li><a href="/#!/">Home</a></li>
            <li><a href="/#!/list/{{item.Group.Channel.Url}}">{{item.Group.Channel.Name}}</a></li>
            <li><a href="/#!/list/{{item.Group.Channel.Url}}/{{item.Group.Url}}">{{item.Group.Name}}</a></li>
            <li class="active">{{item.Title}}</li>
        </ul>
        <article>
            <div class="date">
                <div>{{item.PubDate | date:"dd"}}</div>
                <div>{{item.PubDate | date:"yyyy.MM"}}</div>
            </div>
            <header>
                <h2>
                    <strong>{{item.Title}}</strong>
                </h2>
                    <div>
                        <span class="icon-folder-open categories">
                            <span ng-repeat="category in item.Categorys">
                                <span ng-hide="$first">,</span>
                                <a ng-href="/#!/list/{{item.Group.Channel.Url}}/{{item.Group.Url}}/category/{{category.Url}}" title="View all articles of {{category.Name}}">{{category.Name}}</a>
                            </span>
                        </span>
                        <span class="icon-tags tags" ng-show="item.Tags.length>0">
                            <span ng-repeat="tag in item.Tags">
                                <span ng-hide="$first">,</span>
                                <a ng-href="/#!/list/{{item.Group.Channel.Url}}/{{item.Group.Url}}/tag/{{tag.Name}}" title="View all articles of {{tag.Name}}">{{tag.Name}}</a>
                            </span>
                        </span>
                        <span>
                            <i class="icon-user"></i>
                            {{item.PubAdmin.UserName}}
                        </span>
                        <span>
                            <i class="icon-eye-open"></i>
                            {{item.ViewCount}} Views
                        </span>
                        <span>
                            <i class="icon-comments"></i>
                            {{item.ReplyCount}} Comments
                        </span>
                        <span ng-show="item.Source" class="text-success">
                            <a target="_blank" ng-href="{{item.Source.Url}}" class="text-success">
                                <i class="icon-external-link"></i>
                                Source
                            </a>
                        </span>

                        <span ng-show="User.IsAdmin">
                            <i class="icon-pencil"></i>
                            <a target="_blank" ng-href="/admin/#!/article('{{item.PostId}}')">Edit</a>
                        </span>
                    </div>
            </header>
            <section>
                <div ng-bind-html-unsafe="item.Content"></div>
                <span ng-show="item.QrCode">
                    <a href="javascrpit:void(0);"
                       tooltip-placement="bottom"
                       tooltip-html-unsafe='<img src="/upload/qrcode/{{item.QrCode.Url}}" class="img-thumbnail" width="200" height="200" alt="qrcode" />'>
                        <i class="icon-qrcode"></i>
                    </a>
                </span>
            </section>
            <footer>
                <div id="jiathis_style_32x32" style="margin-top: 30px;" class="clearfix">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_t163"></a>
                    <a class="jiathis_button_tsohu"></a>
                    <a class="jiathis_button_renren"></a>
                    <a class="jiathis_button_douban"></a>
                    <a class="jiathis_button_kaixin001"></a>
                    <a class="jiathis_button_fb"></a>
                    <a class="jiathis_button_twitter"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript" >
                    var jiathis_config = {
                        data_track_clickback: true,
                        siteNum: 15,
                        summary: "",
                        hideMore: true
                    }
                </script>
                <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=902651" charset="utf-8"></script>
            </footer>
        </article>
        <div class="post-nav">
            <ul>
                <li>
                    <a ng-show="prevPost.value" ng-href="/#!/post/{{prevPost.value[0].Url}}" rel="prev">&larr; · Prev</a>
                </li>
                <li>
                    <a ng-show="nextPost.value" tooltip="On the Left!" ng-href="/#!/post/{{nextPost.value[0].Url}}" rel="next">Next · &rarr;</a>
                </li>
            </ul>
        </div>
        <div class="post-related" ng-show="relatedPost.value">
            <div class="title"><span>Related</span></div>
            <ul>
                <li ng-repeat="item in relatedPost.value">
                    {{item.PubDate | date:"yyyy年MM月dd日"}} -- <a ng-href="/#!/post/{{item.Url}}">{{item.Title}}</a>
                </li>
            </ul>
        </div>
        <!-- list START -->
        <div class="comment">
            <div class="title"><span>Comments</span></div>
            <ul>
                <li ng-repeat="item in item.Comments | orderBy:'CreateDate'" ng-hide="item.IsDeleted">
                    <div class="gravatar">
                        <img ng-src="{{item.Gravatar}}" />
                    </div>
                    <div class="text">
                        <span>
                            <span>#{{$index+1}}</span>
                        </span>
                        <div>
                            <span class="commentid">{{item.Author}}</span> : 
                            <p>{{item.Content}}</p>
                        </div>
                        <div class="comment-meta">
                            <span>{{item.CreateDate | date:"yyyy.MM.dd HH:mm" }}</span> 
                            <span ng-show="User.IsAdmin">
                                <a href="JavaScript:void(0)" ng-click="remove(item)">
                                    <i class="icon-remove"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- list END -->
        <!-- respond START -->
        <div>
            <form name="form" novalidate ng-submit="save()">
                <p ng-show="AuthorForDisplay.length > 0">
                    Welcome, <strong>{{AuthorForDisplay}}</strong>
                    <span>
                        <a href="javascript:void(0);" ng-show="editmode" ng-click="editmode=!editmode">Hide »</a>
                        <a href="javascript:void(0);" ng-hide="editmode" ng-click="editmode=!editmode">Change »</a>
                    </span>
                </p>
                <div ng-show="editmode">
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label>Name*</label>
                            <input class="form-control input-sm" name="Author" type="text" ng-model="entity.Author" placeholder="昵称*" required/>
                            <div class="label label-danger" ng-show="form.Author.$dirty && form.Author.$invalid">Invalid:
                                <span ng-show="form.Author.$error.required">Username is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <label>Email</label>
                            <input class="form-control input-sm" name="Email" type="text" ng-model="entity.Email" placeholder="邮箱" />
                        </div>
                    </div>
                </div>
                    <div class="row form-group">
                        <div class="col-lg-8">
                            <label>Content</label>
                            <textarea name="Content" class="form-control" rows="4"  ng-model="entity.Content" required></textarea>
                            <div class="label label-danger" ng-show="form.Content.$dirty && form.Content.$invalid">Invalid:
                                <span ng-show="form.Content.$error.required">Content is required.</span>
                            </div>
                        </div>
                    </div>
                <div>
                    <button class="btn btn-primary btn-large" ng-disabled="submitting || form.$invalid">Submit</button>
                    <span class="loading" ng-show="submitting">submitting...</span>
                </div>
            </form>
        </div>
        <!-- respond END -->
    </div>
<div ng-show="!loading && item.Title==null">
    <ul class="breadcrumb">
        <li><a href="/#!/">Home</a></li>
        <li class="active">404</li>
    </ul>
    <p>Not found article.</p>
</div>