<span class="icon-folder-open categories">
    <span ng-repeat="category in item.Categorys">
        <span ng-hide="$first">,</span>
        <a ng-href="/#!/list/{{item.Group.Channel.Url}}/{{item.Group.Url}}/category/{{category.Url}}" title="View all articles of {{category.Name}}">{{category.Name}}</a>
    </span>
</span>
<span class="icon-tags tags" ng-show="item.Tags.length>0">
    <span ng-repeat="tag in item.Tags">
        <span ng-hide="$first">,</span>
        <a ng-href="/#!/list/{{item.Group.Channel.Url}}/{{item.Group.Url}}/tag/{{tag.Name}}" title="View all articles of {{tag.Name}}">{{tag.Name}}</a>
    </span>
</span>
<span>
    <i class="icon-user"></i>
    {{item.PubAdmin.UserName}}
</span>
<span>
    <i class="icon-eye-open"></i>
    {{item.ViewCount}} Views
</span>
<span>
    <i class="icon-comments"></i>
    {{item.ReplyCount}} Comments
</span>
<span ng-show="User.IsAdmin">
    <i class="icon-pencil"></i>
    <a target="_blank" ng-href="/admin/#!/article('{{item.PostId}}')">Edit</a>
</span>