<div class="loadingbox" ng-show="loading">{{loading}}...</div>

<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/admin/">Home</a>
        </li>
        <li><a href="gallery">Gallery</a></li>
        <li class="active" ng-hide="entity.CreateDate">New</li>
        <li class="active" ng-show="entity.CreateDate">Edit (<span bindonce="entity" bo-html="entity.Name"></span>)</li>
    </ul>
</div>

<div class="page-content">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#1">Base</a></li>
            <li><a data-toggle="tab" href="#2">Photos</a></li>
        </ul>
        <div class="tab-content">
            <div id="1" class="tab-pane in active">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-1 control-label">Name</label>
                        <div class="col-lg-11">
                            <input type="text" class="form-control" ng-model="entity.Name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-1 control-label">Description</label>
                        <div class="col-lg-11">
                            <textarea class="form-control" ng-model="entity.Description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-1 control-label">Cover</label>
                        <div class="col-lg-11">
                            <input type="file" ng-file-select />
                            <p ng-show="entity.Cover">
                                <img class="img-thumbnail img-article-thumbnail" style="width: 160px;height: 120px;" ng-src="{{config.imgHost}}/{{entity.Cover}}" />
                                <a href="JavaScript:void(0)" class="icon-remove" ng-click="removeServerImg(file)"></a>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-1 control-label"></label>
                        <div class="col-lg-11">
                            <button type="button" class="btn btn-primary" ng-click="submit()">
                                <i class="icon-save"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="2" class="tab-pane">
            <div ng-hide="uploadPhoto">
                <div class="clearfix form-group">
                    <button type="button" class="btn btn-primary pull-right" ng-click="uploadPhoto=true">
                        <i class="icon-cloud-upload"></i>
                        Upload
                    </button>
                </div>
                <ul class="ace-thumbnails clearfix">
                    <li ng-repeat="item in entity.Photos | orderBy:'Name' | filter:{IsDeleted:false}">
                        <a ng-href="{{item.Path}}" data-rel="colorbox">
                            <img alt="150x150" ng-src="{{item.Path}}" style="width: 150px;height: 150px;" />
                            <div class="tags">
                                <span class="label-holder">
                                    <span class="label label-info arrowed">{{item.Name}}</span>
                                </span>
                            </div>
                        </a>
                        <div class="tools tools-top">
                            <a ng-href="{{item.Path}}" target="_blank">
                                <i class="icon-link white"></i>
                            </a>
                            <a href="JavaScript:void(0)" ng-click="removePhoto(item)">
                                <i class="icon-remove red"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
                <div ng-show="uploadPhoto">
                    <div class="clearfix form-group">
                        <button type="button" class="btn btn-default pull-right" ng-click="get();uploadPhoto=false">
                            <i class="icon-reply"></i>
                            Back
                        </button>
                    </div>
                    <form class="dropzone">
                        <div class="fallback">
                            <input name="file" type="file" multiple="" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>