body {padding-top: 56px;padding-bottom: 20px;}
a:hover,a:focus{text-decoration: none;}
.fl{ float: left;}
.fr{ float: right;}

a {
color: #014477;
}
a:hover {
color: #0069D6;
text-decoration: none;
}

.navbar .brand {padding: 5px 20px 5px;}
.navbar .brand img{ width: 45px;height: 45px;margin-right: 10px;}
.navbar .nav > li > a {padding: 18px 15px 18px;}
.navbar .btn-navbar {margin-top: 10px;}


.container .content{ margin-top: 30px;}
.container > footer {text-align: center}
.container > footer p {margin-bottom: 0;color: #777;}
.container > footer .footer-links {margin-top: 10px;}
.container > footer .footer-links li {display: inline;padding: 0 2px;}
.container > footer .footer-links li:first-child {padding-left: 0;}

 /* homepage */
#cta-content {height: 500px;width: 100%;background: url('/Content/img/main_bg_tile.jpg') repeat-x transparent 50% 50%;text-align: center;color: #fff;}
#cta-content .lights {width: 100%;height: 100%;background: url('/Content/img/main_bg_image.jpg') repeat-x transparent 50% 50%;}
#cta-content .grid-image {width: 100%;height: 100%;background: url('/Content/img/main_bg_grid_tile.png') repeat transparent;}
#cta-content .wrapped-content {padding: 150px 0px 20px 0px;width: 960px;margin: auto;}
#cta-content h1 {letter-spacing: 12px;color: white;font-size: 3.2em;margin: 3px 0px;}
#cta-content h2 {font-weight: normal;letter-spacing: 1px;margin-top: 20px;margin-bottom: 40px; font-size: 22px;}
#cta-content h2 span{font-weight: normal;letter-spacing: 1px;font-size: 12px;}
#cta-content h1, #cta-content h2 {text-shadow: 0 0 10px rgba(0,0,0,.5);}
#cta-content .bottom {width: 700px;margin: auto;}
.home{text-align: center;margin-top: 60px;}
.home a{text-decoration: none;font-size: 50px;background: #33A5C8; color:#fff ;}
.home span{background: #33A5C8; color:#fff ;padding: 70px 32px 30px 32px;  -webkit-border-radius: 500px;-moz-border-radius: 500px;border-radius: 500px;}
.home h2{ padding-top: 20px;}

/* 提示框 */
.boxcaption {background: #E3E4E6;border-bottom: 1px solid #CCC;padding: 3px 12px;border-top-left-radius: 5px 5px;border-top-right-radius: 5px 5px;line-height: 24px;}
.boxcaption h3 {font-size: 12px;letter-spacing: 0em;}
.box {background: #F4F5F7;margin-bottom: 10px;padding: 6px 12px;border-bottom-left-radius: 5px 5px;border-bottom-right-radius: 5px 5px;}
.loadingbox {height: 16px;line-height: 16px;position: absolute;left: 50%;top: 0;margin-left: -65px;width: 95px;padding: 10px 10px 10px 35px;font-weight: bold;font-size: 12px;color: #666;background: url("/Content/img/ajax-loader5.gif") 10px 50% no-repeat #EEE;border: 1px solid #CCC;border-top: 1px solid #FFF;border-radius: 5px;border-top-left-radius: 0;border-top-right-radius: 0;z-index: 20;}

#posts {position: relative; min-height: 200px;}
#posts h2 strong a,#posts h2 strong a:hover{color:#484f5a;}
#posts h2 > a,#posts h2 > span{ font-size: 14px;}
#posts article{border: 1px solid rgba(0, 0, 0, 0);margin-bottom: 20px;border-bottom: 1px solid #CCC;border-radius: 0;padding: 0 20px 20px 20px;}
#posts article:hover{background-color: rgba(0, 105, 214, 0.03);border-radius: 7px 7px 7px 7px;border: 1px solid #CCC;}

#posts header div{margin: -10px 5px 20px 5px;}
#posts header span{margin-right: 2px;}
#posts header span:nth-child(even),#posts footer span {margin-right: 20px;}
#posts header span:last-child {margin-right: 0;}
#posts footer{ margin-top: 20px;}
#posts footer span a:first-child{ padding-left: 2px}

aside > div{border: 1px dotted rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
font-size: 1.4em;
margin-bottom: 30px;
padding: 0 20px 15px 20px;
width: auto;}
aside ul{ font-size: 14px;list-style: none;}
aside ul li{ margin-bottom: 5px;}

/* ko */
.ko-area-loader{background: url(/Content/img/ajax-loader5.gif) no-repeat;height: 16px;line-height: 16px;padding-left: 20px;}
.ko-grid-loader{background: url(/Content/img/ajax-loader4.gif) no-repeat center;height: 24px; text-align: center;padding: 20px;}
