body {padding-top: 56px;padding-bottom: 20px;font: 14px "Microsoft YaHei",微软雅黑,PMingLiU,Verdana,Arial,Helvetica,sans-serif;
      background: url(/Content/img/bg.png);
}

.bg-color-blue {background-color: #0072BC !important;}
.bg-color-blueDark {background-color: #662D91 !important;}
.bg-color-green {background-color: #01a31c !important;}
.bg-color-greenDark {background-color: #008641 !important;}
.bg-color-red {background-color: #bc1c48 !important;}
.bg-color-yellow {background-color: #ffc40d !important;}
.bg-color-orange {background-color: #CD4900 !important;}
.bg-color-pink {background-color: #c3325f !important;}
.bg-color-purple {background-color: #603cba !important;}
.bg-color-darken {background-color: #1c1c1c !important;}

/* all style */
.fl{ float: left;}
.fr{ float: right;}
a:hover {color: #24A0DA;text-decoration: none;}
::selection {background: #ffb7b7;}
::-webkit-selection {background: #ffb7b7;}
::-moz-selection {background: #ffb7b7;}
.container .content{ margin-top: 30px;margin: 0px auto;color: #666;padding: 20px;}
textarea, input[type="text"], input[type="password"] {border: 2px solid #DDD;border-radius: 0;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {border: 2px solid #24A0DA;}

.container > footer {text-align: center}
.container > footer p {margin-bottom: 0;color: #777;}
.container > footer .footer-links {margin-top: 10px;}
.container > footer .footer-links li {display: inline;padding: 0 2px;}
.container > footer .footer-links li:first-child {padding-left: 0;}

.navbar .brand {padding: 5px 20px 5px;}
.navbar .brand img{ width: 45px;height: 45px;margin-right: 10px;}
.navbar .nav > li > a {padding: 18px 15px 18px;}
.navbar .btn-navbar {margin-top: 10px;}

 /* homepage */
#cta-content {height: 500px;width: 100%;background: url('/Content/img/main_bg_tile.jpg') repeat-x transparent 50% 50%;text-align: center;color: #fff;}
#cta-content .lights {width: 100%;height: 100%;background: url('/Content/img/main_bg_image.jpg') repeat-x transparent 50% 50%;}
#cta-content .grid-image {width: 100%;height: 100%;background: url('/Content/img/main_bg_grid_tile.png') repeat transparent;}
#cta-content .wrapped-content {padding: 150px 0px 20px 0px;width: 960px;margin: auto;}
#cta-content h1 {letter-spacing: 12px;color: white;font-size: 3.2em;margin: 3px 0px;}
#cta-content h2 {font-weight: normal;letter-spacing: 1px;margin-top: 20px;margin-bottom: 40px; font-size: 22px;}
#cta-content h2 span{font-weight: normal;letter-spacing: 1px;font-size: 12px;}
#cta-content h1, #cta-content h2 {text-shadow: 0 0 10px rgba(0,0,0,.5);}
#cta-content .bottom {width: 700px;margin: auto;}
.home{text-align: center;margin-top: 60px;}
.home a{text-decoration: none;font-size: 50px;background: #0072BC; color:#fff ;}
.home span{background: #0072BC; color:#fff ;padding: 70px 32px 30px 32px;  -webkit-border-radius: 500px;-moz-border-radius: 500px;border-radius: 500px;}
.home h2{ padding-top: 20px;}

/* 提示框 */
.boxcaption {background: #E3E4E6;border: 1px solid #CCC;border-bottom: 1px solid #e2e2e2;padding: 3px 12px;border-top-left-radius: 5px 5px;border-top-right-radius: 5px 5px;line-height: 24px;}
.box {background: #F4F5F7;margin-bottom: 10px;padding: 6px 12px;border-bottom-left-radius: 5px 5px;border-bottom-right-radius: 5px 5px;border: 1px solid #CCC;border-top: none;}
.loadingbox {height: 16px;line-height: 16px;position: absolute;left: 50%;top: 0;margin-left: -65px;width: 95px;padding: 10px 10px 10px 35px;font-weight: bold;font-size: 12px;color: #666;background: url("/Content/img/ajax-loader5.gif") 10px 50% no-repeat #EEE;border: 1px solid #CCC;border-top: 1px solid #FFF;border-radius: 5px;border-top-left-radius: 0;border-top-right-radius: 0;z-index: 20;}
.loading {padding:5px 5px 0px 20px; background:url(/Content/img/ajax-loader.gif) 0px 3px no-repeat;}

/* 上一篇 && 下一篇 */
.post-nav {margin-bottom: 15px;letter-spacing: 4px;overflow: hidden;display: block;text-align: center;margin-left: 16px;position: relative;}
.post-nav li {line-height: 35px;height: 35px;display: block;margin-right: 20px;background: #CCC;color: #FFF;float: left;}
.post-nav a {height: 35px;display: block;color: #FFF;padding: 0 20px 0 20px;}
.post-nav a:hover{background:#0072BC;text-decoration:none}

/* 相关文章 */
#related  {line-height: 20px;font-size: 13px;margin-top: 40px;}
#related .title {border-top: 6px solid #01a31c;height: 1px;margin: 20px 0 30px 0;position: relative;}
#related .title span{display: block;height: 40px;padding: 0 18px;line-height: 40px;background: #01a31c;color: #FFF;position: absolute;top: -25px;overflow: hidden;}
#related ul{ list-style: none;}
#related ul li{ line-height: 26px;}
#related ul li a:hover{color: #01a31c;}

/* 评论 */
.comment {line-height: 20px;font-size: 13px;margin-top: 40px;}
.comment .title {border-top: 6px solid #0072BC;height: 1px;margin: 20px 0 40px 0;position: relative;}
.comment .title span{display: block;height: 40px;padding: 0 18px;line-height: 40px;background: #0072BC;color: #FFF;position: absolute;top: -25px;overflow: hidden;}
.comment ul{ list-style: none;}
.comment li{margin-bottom: 15px;padding-bottom: 21px;background: url(/Content/img/postline.png) bottom repeat-x;zoom: 1;}
.comment .gravatar {float: left;padding-right: 20px;border-right: 1px solid #D1D9DB;margin: 0 20px 0 0;border-right-color: #D1D9DB;}
.comment li:hover .gravatar{border-right-color: #E38383;}.gravatar img{ width: 40px;height: 40px;}.text {overflow: hidden;}
.comment .text >span {float: right;padding-right: 5px;font-size: 13px;color: #CCC;}
.comment .commentid {font-weight: bold;color:#E38383;}
.comment .comment-meta {margin-top: 5px;color: #CCC;}

/* ko loading */
.ko-area-loader{background: url(/Content/img/ajax-loader5.gif) no-repeat;height: 16px;line-height: 16px;padding-left: 20px;}
.ko-grid-loader{background: url(/Content/img/ajax-loader4.gif) no-repeat center;height: 24px; text-align: center;padding: 20px;}

/* 缩略图 */
#posts article .thumb {margin: 0px 15px 0px 10px;float: left;}
#posts article .thumb img {width: 160px;height: 100px;}
/* detail */
.qrcode {display: none;}
.breadcrumb{padding-left: 10px;margin-left: 20px;border-left: #F88FB7 20px solid;border-radius: 0;}
/* list */
#posts { position: relative;}
article {margin-bottom: 20px;border-radius: 0;padding: 0px 20px 20px 20px;margin: 10px 0;min-height: 200px;}
article li{ margin-bottom: 25px;}
article h2{ margin-top: 0;}
article h2 strong{margin-left: 10px;padding-left: 5px;font-size: 24px;}
article h2 > span{ font-size: 16px;}
article h2 > a{ font-size: 40px;margin-top: -5px; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); transform: rotate(-90deg);display: none; }
article:hover h2 > a,article:hover h2 > a:hover{display: block;}
article header div{margin: -10px 5px 20px 80px;padding-top: 3px; border-top: 1px solid #27AAE2;}
article header span{margin-right: 2px;}
article header span:nth-child(even),article footer span {margin-right: 20px;}
article header span:last-child {margin-right: 0;}
article .categories a:first-child,article .tags a:first-child{ padding-left: 2px}
article .categories{ margin-right: 10px;}
article section{ margin-left: 85px;}
article .date {width: 70px;height: 70px;background-color: #0072BC;color: #FFFFFF;float: left;text-align: center;font-weight: bold;font-family: Georgia, Arial, Tahoma, Geneva;}
article .date div:first-child {font-size: 38px;margin-top: 2px;height: 46px;line-height: 46px;}
article .date div:last-child {margin-top: -3px;font-size: 15px;height: 18px;line-height: 18px;}