body {padding-top: 56px;padding-bottom: 20px;}
.navbar .brand {padding: 5px 20px 5px;}
.navbar .brand img{ width: 45px;height: 45px;margin-right: 10px;}
.navbar .nav > li > a {padding: 18px 15px 18px;}

footer {text-align: center}