@model YangKai.BlogEngine.Web.Mvc.Models.BoardViewModel
@{
    ViewBag.Title = string.Format(YangKai.BlogEngine.Common.Config.Format.PAGE_TITLE, "留言板");
    var isAdmin = YangKai.BlogEngine.Common.WebMasterCookie.IsLogin.ToString().ToLower();
}

@section readyscripts{
ko.applyBindings(new BoardViewModel(@isAdmin), $("#div-board")[0]);
}

<div class="board" id="div-board">
    <!-- respond START -->
    <div class="respond">
        <form data-bind="submit: add">
            <p data-bind="visible: username().length > 0">
                欢迎回来, <strong data-bind="text: username"></strong>
                <span>
                    <a href="javascript:void(0);" data-bind="text: controldisplayauthoreditor() ? '隐藏 »' : '更改 »', click: change"></a>
                </span>
            </p>
            <div data-bind="visible: username().length == 0 || controldisplayauthoreditor">
                <p>
                    <input class="textfield" id="Author" name="Author" type="text" data-bind="value: username" />
                    <label for="Author">昵称(必填)</label>
                </p>
            </div>
            <p><textarea cols="20" id="Content" name="Content" rows="2"></textarea></p>
            <div class="submitbox">
                <div class="submitbutton"><input type="submit" value="提交" data-bind="disable: loading().length > 0" /></div>
                <div class="loading" data-bind="text: loading, visible: loading().length > 0" style="display: none;"></div>
                <div class="error" data-bind=" text: error, visible: error().length > 0" style="display: none;"></div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <!-- respond END -->
    
    <!-- list START -->
        <div id="commentlist">
            <div class="ko-grid-loader" data-bind="visible: list().length == 0"></div>
            <ul id="thecomments" data-bind="template: { name: 'message-item', foreach: list, afterAdd: elementFadeIn }"></ul>
        </div>
    <!-- list END -->
</div>
