@using YangKai.BlogEngine.Common
@model YangKai.BlogEngine.Web.Mvc.Models.BoardViewModel
@{
    ViewBag.Title = string.Format(Config.Format.PAGE_TITLE, "留言板");
    Layout = "~/Views/Shared/_layout.cshtml";
    var isNewGuest = string.IsNullOrWhiteSpace(Model.Author);
}
@section style {
    <style>#middle .body { background: url(/Content/Image/body_bg_no_line.png); }</style>
}
@section scripts
{
    <script type="text/javascript">
        function BoardViewModel() {
            var self = this;
            self.isNewGuest = ko.observable(@(isNewGuest.ToString().ToLower()));
            self.isShowWelcome = ko.observable(@((!isNewGuest).ToString().ToLower()));
            self.board = ko.observableArray();
            
            self.delete = function (board) {
                $.post("/board/delete", "id=" + board.BoardId, null, "json")
                    .done(function (o) {
                        if (o.result) {
                            self.board.remove(board);
                        } else {
                            $("#info").css({ color: "red" });
                            $("#info").html(o.reason);
                        }
                    });
            };

            self.add = function (formElement) {
                $("#info").css({ color: "", display: "block", background: "url(/Content/Image/ajax-loader.gif) 0px 3px no-repeat" });
                $("#info").html("正在提交");
                $("#submit").attr({ "disabled": "disabled" });
                $.post("/board/add", $(formElement).serialize(), null, "json")
                    .done(function (o) {
                        if (o.result) {
                            $("#Content").val("");
                            $("#info").html("");
                            self.board.unshift(o.model);
                        } else {
                            $("#info").css({ color: "red" });
                            $("#info").html(o.reason);
                        }
                        $("#info").css({ background: "none" });
                        $("#submit").removeAttr("disabled");
                    });
            };

            self.change = function () {
                var tip = $("#control_author_info a");
                tip.html(tip.html() === "更改 »" ? "隐藏 »" : "更改 »");
                $("#author_info").toggle();
            };

            $.getJSON('/board/list', self.board);
        }

        $(document).ready(function() {
            ko.applyBindings(new BoardViewModel());
        });
    </script>
}
<div class="board">
    @Html.Partial("index-add")
    @Html.Partial("index-list")
</div>
