@model YangKai.BlogEngine.Web.Mvc.Models.BoardViewModel
<!-- respond START -->
    <div id="respond">
        <form data-bind="submit: add">
            <p data-bind="visible: isShowWelcome">
                欢迎回来, <strong>@Model.Author</strong>
                <span id="control_author_info"><a href="javascript:void(0);" data-bind="click: change">更改 »</a></span>
            </p>
            <div id="author_info" data-bind="visible: isNewGuest">
                <p>
                    @Html.TextBoxFor(model => model.Author, new {@class = "textfield" })
                    @Html.LabelFor(model => model.Author, "昵称(必填)")
                </p>
            </div>
            <p>@Html.TextAreaFor(model=>model.Content)</p>
            <div id="submitbox">
                <div class="submitbutton"><input id="submit" type="submit" class="submit" value="提交" /></div>
                <div id="info"></div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
<!-- respond END -->