@model YangKai.BlogEngine.Web.Mvc.Models.BoardViewModel
@{
    ViewBag.Title = string.Format(YangKai.BlogEngine.Common.Config.Format.PAGE_TITLE, "留言板");
    Layout = "~/Views/Shared/_layout.cshtml";
    var isAdmin = YangKai.BlogEngine.ServiceProxy.QueryFactory.User.IsLogin();
}

@section style 
{
    <style>#middle .body { background: url(/Content/Image/body_bg_no_line.png); }</style>
}

@section scripts
{
    <script type="text/javascript">
        function BoardViewModel() {
            var self = this;

            self.list = ko.observableArray();
            self.username = ko.observable('@Model.Author');
            self.loading = ko.observable("");
            self.error = ko.observable("");
            self.controldisplayauthoreditor = ko.observable(false);
            
            self.add = function (formElement) {
                self.error("");
                self.loading("正在提交");
                $.post("/board/add", $(formElement).serialize(), null, "json")
                    .done(function (o) {
                        self.loading("");
                        if (o.result) {
                            $("#Content").val("");
                            self.list.unshift(o.model);
                        } else {
                            self.error(o.reason);
                        }
                    });
            };

            self.del = function(entity) {
                $.post("/board/delete", "id=" + entity.BoardId, null, "json")
                    .done(function(o) {
                        if (o.result) {
                            noty({ text: '操作成功,已删除#' + entity.Index + "." });
                            self.list.remove(entity);
                        } else {
                            noty({ text: '操作失败,错误:' + o.reason, type: 'error', timeout: false });
                            self.error(o.reason);
                        }
                    });
            };

            self.change = function() {
                self.controldisplayauthoreditor(!self.controldisplayauthoreditor());
            };

            $.getJSON('/board/list', self.list)
                .done(function() {
                    fadeOutAndFadeIn("div-board-list-loader", "thecomments");
                });
        }

        $(document).ready(function() {
            ko.applyBindings(new BoardViewModel(), $("#div-board")[0]);
        });
    </script>

    <script type="text/html" id="boardViewModelTemplate">
        <li>
            <div class="author">
                <div class="pic"><img class="avatar" width="32" height="32" alt="avatar" src="/Content/Image/avatar.png" /></div>
                <div class="name" data-bind="text: $data.Author"></div>
            </div>
            <div class="info">
                <span class="date" data-bind="text: $data.CreateDate.Format()"></span> |
                #<span data-bind="text: $data.Index"></span>
                <div class="act">
                    @if (isAdmin)
                    {
                        <a href="JavaScript:void(0)" data-bind="click: $root.del">[删除]</a>
                    }
                </div>
                <div class="clear"></div>
                <div class="content" data-bind="html: $data.Content"></div>
            </div>
            <div class="clear"></div>   
        </li>
    </script>
}

<div class="board" id="div-board">
    <!-- respond START -->
    <div class="respond">
        <form data-bind="submit: add">
            <p data-bind="visible: username().length > 0">
                欢迎回来, <strong data-bind="text: username"></strong>
                <span>
                    <a href="javascript:void(0);" data-bind="text: controldisplayauthoreditor() ? '隐藏 »' : '更改 »', click: change"></a>
                </span>
            </p>
            <div data-bind="visible: username().length == 0 || controldisplayauthoreditor">
                <p>
                    <input class="textfield" id="Author" name="Author" type="text" data-bind="value: username" />
                    <label for="Author">昵称(必填)</label>
                </p>
            </div>
            <p><textarea cols="20" id="Content" name="Content" rows="2"></textarea></p>
            <div class="submitbox">
                <div class="submitbutton"><input type="submit" value="提交" data-bind="disable: loading().length > 0" /></div>
                <div class="loading" data-bind="text: loading, visible: loading().length > 0" style="display: none;"></div>
                <div class="error" data-bind=" text: error, visible: error().length > 0" style="display: none;"></div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <!-- respond END -->
    
    <!-- list START -->
        <div id="commentlist">
            <div id="div-board-list-loader" class="ko-grid-loader"></div>
            <ul id="thecomments" class="ko-template-container" data-bind="template: { name: 'boardViewModelTemplate', foreach: list }"></ul>
        </div>
    <!-- list END -->
</div>
