@{
    ViewBag.Title = string.Format(YangKai.BlogEngine.Common.Config.Format.PAGE_TITLE, "首页");
}

@section banner
{
    <div id="cta-content">
        <div class="lights">
            <div class="grid-image">
                <div class="wrapped-content">
                    <h1>技术宅拯救世界</h1>
                    <h2>
                        BECAUSE WE CAN
                        <span class="bottom clearfix">@Model</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
}

<div class="row home img-circle">
    <div class="span4">
        <span><a href="/funs#!" class="glyphicon-facetime-video"></a></span>
        <h2>娱乐频道</h2>
        <p>无限放送各种有趣的文章/图片/视频，博君一笑。</p>
    </div>
    <div class="span4">
        <span><a href="/technologies#!" class="glyphicon-book"></a></span>
        <h2>技术学堂</h2>
        <p>分享一些我在学习/工作中，收集到有帮助的文章，与君共勉。</p>
    </div>
    <div class="span4">
        <span><a href="/board" class="glyphicon-comment"></a></span>
        <h2>留言板</h2>
        <p>你懂的。。。<br/><br/></p>
    </div>
</div>
