<div class="loadingbox" ng-show="loading">{{loading}}...</div>

<ul class="breadcrumb">
    <li><a href="/#!/">Home</a></li>
    <li class="active">About</li>
</ul>

<div>
    <h2>
        <i class="icon-group"></i>
        About us
    </h2>
    <h4>
        我们是技术男，但是我们对生活充满激情，对技术充满热情。努力提升团队效率是我们持之以恒的目标。
    </h4>
    <div class="row intro">
        <div class="col-lg-4">
            <h3 class="blue clearfix">
                <span class="pull-right">
                    <small><a href="MailTo:James.Y.Yang@newegg.com;"><i class="icon-envelope-alt"></i></a></small>
                </span>
                <span>James Yang</span>
                <small>杨云昆</small>
            </h3>
            <div class="clearfix">
                <img class="img-rounded pull-left" src="http://apis.newegg.org/common/v1/domain/user/jy25/avatar"/>
                <p>
                    2007年加入Newegg，从事Newegg后端系统的开发和维护。主要负责系统开发，程序架构设计，技术培训等。
                    关注前沿技术，对并行编程，REST Service有浓厚兴趣。并致力于追求代码之美提高程序员能力和综合素质。
                </p>
            </div> 
            <p>
                擅长领域：<br />
                Silverlight, Rest API, Node.js, javascript, SOA
            </p>
            <div>负责系统：</div>
            <ul>
                <li>API Framework</li>
                <li>ServiceStack.Text</li>
                <li>Framework API/ API SDK</li>
                <li>Oversea WCF Framework</li>
                <li>Framework Tools</li>
                <li>Auth Service</li>
                <li>Gateway</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3 class="pink clearfix">
                <span class="pull-right">
                    <small><a href="MailTo:Zeeman.Z.Huang@newegg.com;"><i class="icon-envelope-alt"></i></a></small>
                </span>
                <span>Zeeman Huang</span>
                <small>黄泽东</small>
            </h3>
            <div class="clearfix">
                <img class="img-rounded pull-left" src="http://apis.newegg.org/common/v1/domain/user/zh61/avatar"/>
                <p>
                    2012年秉持虔诚的学习心态加入Newegg，企图继企业级开发和网络游戏之后，虚荣的为自己贴上电子商务的标签。
                    非心静无以言学，非宁静无以致远，希望自己可以在这个浮躁的风气中聆听内心的那份务实和执着。
                </p>
            </div>  
            <p>
                擅长领域：<br />
                MSSQL, Cassandra, Solr, ActiveMQ, Nginx
            </p>
            <div>负责系统：</div>
            <ul>
                <li>Oversea Data Access</li>
                <li>Cassandra Adapter</li>
                <li>Document Tool</li>
                <li>Common API</li>
                <li>API Notify</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3 class="purple clearfix">
                <span class="pull-right">
                    <small><a href="MailTo:Carlos.L.Jiang@newegg.com;"><i class="icon-envelope-alt"></i></a></small>
                </span>
                <span>Carlos Jiang</span>
                <small>蒋磊</small>
            </h3>
            <div class="clearfix">
                <img class="img-rounded pull-left" src="http://apis.newegg.org/common/v1/domain/user/cj25/avatar"/>
                <p>
                    2012年下半年加入Newegg，最先从事Silverlight相关support工作，目前主要参与MVC相关项目开发。
                    受项目影响，目前对前端技术有浓厚兴趣，同时也关注业界动向。力求成为全面发展的开发人员。
                </p>
            </div>  
            <p>
                擅长领域：<br />
                Silverlight, Javascript, KnockoutJS, CoffeeScript, ASP.NET MVC
            </p>
            <div>负责系统：</div>
            <ul>
                <li>API Portal</li>
            </ul>
        </div>
    </div>
    <div class="row intro">
        <div class="col-lg-4">
            <h3 class="green clearfix">
                <span class="pull-right">
                    <small><a href="MailTo:Zack.K.Yang@newegg.com;"><i class="icon-envelope-alt"></i></a></small>
                </span>
                <span>Zack Yang</span>
                <small>杨凯</small>
            </h3>
            <div class="clearfix">
                <img class="img-rounded pull-left" src="http://apis.newegg.org/common/v1/domain/user/zy55/avatar"/>
                <p>
                    加入Newegg以来，认真力求把工作做得尽善尽美。做为开发人员一直保持对新技术的热情，把握技术发展方向。
                    沉迷前端技术、重构、持续交付；执着用户体验。
                </p>
            </div>  
            <p>
                擅长领域：<br />
                JavaScript, CSS, AngularJS, ASP.NET MVC, ASP.NET WEB API, Entity Framework
            </p>
            <div>负责系统：</div>
            <ul>
                <li>API Portal</li>
                <li>Document Tool Web Viewer</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3 class="orange clearfix">
                <span class="pull-right">
                    <small><a href="MailTo:Vincent.W.Wu@newegg.com;"><i class="icon-envelope-alt"></i></a></small>
                </span>
                <span>Vincent Wu</span>
                <small>吴维佳</small>
            </h3>
            <div class="clearfix">
                <img class="img-rounded pull-left" src="http://apis.newegg.org/common/v1/domain/user/vw25/avatar"/>
                <p>
                    2012年加入Newegg，主要负责Newegg Central系统的开发和维护。
                </p>
            </div>  
            <p>
                擅长领域：<br />
                Silverlight, WPF
            </p>
            <div>负责系统：</div>
            <ul>
                <li>Newegg Central Framework</li>
                <li>HR Tools</li>
            </ul>
        </div>
    </div>
</div>