<div>
    <div class="row home">
        <div class="col-sm-4">
            <div>
                <a href="/#!/list/technologies">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-facetime-video icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>Funs</h2>
            <p>无下限放送各种有趣的文章/图片/视频，博君一笑。</p>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="/#!/list/technologies">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-book icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>Technologies</h2>
            <p>分享一些我在学习中，收集到有帮助的技术文章，与君共勉。</p>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="/#!/list/technologies">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-comments icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>Boards</h2>
            <p>你懂的。。。</p>
        </div>
    </div>
</div>