<div>
    <div class="row home">
        <div class="col-sm-4">
            <div>
                <a href="/#!/archives">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-archive icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>Archives</h2>
            <p></p>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="/#!/board">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-comments icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>Board</h2>
            <p></p>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="/#!/about">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-group icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>About</h2>
            <p></p>
        </div>
    </div>
</div>