<div>
    <div class="row home">
        <div class="col-sm-4">
            <div>
                <a href="/#!/list/funs">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-facetime-video icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>Funnys</h2>
            <p></p>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="/#!/list/technologies">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-book icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>Technologic</h2>
            <p></p>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="/#!/list/life">
                    <span class="icon-stack icon-5x">
                        <i class="icon-circle icon-stack-base"></i>
                        <i class="icon-comments icon-light"></i>
                    </span>
                </a>
            </div>
            <h2>Life</h2>
            <p></p>
        </div>
    </div>
</div>