#cta-content {
  height: 450px;
  width: 100%;
  background: url('/Content/img/main_bg_tile.jpg') repeat-x transparent 50% 50%;
  text-align: center;
  color: #fff;
}
#cta-content h1,
#cta-content h2 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#cta-content .grid-image {
  width: 100%;
  height: 100%;
  background: url('/Content/img/main_bg_grid_tile.png') repeat transparent;
}
#cta-content .lights {
  width: 100%;
  height: 100%;
  background: url('/Content/img/main_bg_image.jpg') repeat-x transparent 50% 50%;
}
#cta-content .wrapped-content {
  padding: 150px 0px 20px 0px;
  margin: auto;
}
#cta-content h1 {
  letter-spacing: 12px;
  color: white;
  font-size: 50px;
  margin: 3px 0px;
}
#cta-content h2 {
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 22px;
}
#cta-content h2 p {
  margin: auto;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 10px;
}