<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/">Home</a>
        </li>
        <li>System</li>
        <li class="active">History</li>
    </ul>
</div>

<div class="page-content">
    <div class="dialogs">
        <div class="itemdiv dialogdiv" ng-repeat="item in versions">
            <div class="user">
                <img src="/img/upgrade.png">
            </div>
            <div class="body">
                <div class="time">
                </div>
                <div class="name">
                    <span class="blue">{{ item.ver }}</span>
                    <i style="margin-left: 20px;" class="fa fa-calculator"></i>
                    <span>{{ item.date | date:'yyyy-MM-dd' }}</span>
                </div>
                <div class="text">
                    <div ng-repeat="detail in item.content">{{ detail }}</div>
                </div>
            </div>
        </div>
    </div>
</div>