<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left">{{'global.menu.board' | translate}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">{{'global.breadcrumb.home' | translate}}</a></li>
            <li class="active">{{'global.menu.board' | translate}}</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row blog-page blog-item">
        <div class="col-md-offset-2 col-md-8 md-margin-bottom-60">
            <!-- Comment Form -->
            <div class="post-comment">
                <h3>{{'board.content' | translate}}</h3>
                <form name="form" novalidate ng-submit="save()">
                    <p bindonce="entity" bo-show="entity.author">
                        {{'board.welcome' | translate}}, <strong bo-html="entity.author"></strong>
                        <span>
                            <a href="javascript:void(0);" ng-show="editmode" ng-click="editmode=!editmode">{{'board.hide' | translate}} »</a>
                            <a href="javascript:void(0);" ng-hide="editmode" ng-click="editmode=!editmode">{{'board.change' | translate}} »</a>
                        </span>
                    </p>
                    <div ng-show="editmode">
                        <div class="row form-group">
                            <div class="col-md-7 col-md-offset-0">
                                <label>{{'board.name' | translate}} <span class="color-red">*</span></label>
                                <input class="form-control" name="author" type="text" ng-model="entity.author.name" placeholder="{{'board.name' | translate}}*" required />
                                <div class="label label-danger label-invalid" ng-show="form.author.$invalid && submitted">
                                    <span ng-show="form.author.$error.required">{{'board.nameValidTxt' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-7 col-md-offset-0">
                                <label>{{'board.email' | translate}}</label>
                                <input class="form-control" name="email" type="text" ng-model="entity.author.email" placeholder="{{'board.email' | translate}}" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-11 col-md-offset-0">
                            <label>{{'board.content' | translate}}</label>
                            <textarea name="content" class="form-control" rows="8" ng-model="entity.content" required></textarea>
                            <div class="label label-danger label-invalid" ng-show="form.content.$invalid && submitted">
                                <span ng-show="form.content.$error.required">{{'board.contentValidTxt' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn-u" type="submit" ng-disabled="loading">
                            {{'board.submit' | translate}}
                        </button>
                    </div>
                </form>
            </div>
            <!-- End Comment Form -->

            <hr>

            <!-- Recent Comments -->
            <div class="media" ng-repeat="item in messages | orderBy:'-date'">
                <span class="pull-left">
                    <img class="media-object" ng-src="{{item.author.email | gravatar}}" alt="" />
                </span>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{item.author.name}}
                        <span>
                            <small>#{{ messages.length - $index }}</small>
                            {{item.date | date:"yyyy.MM.dd HH:mm" }}
                            <a href="JavaScript:void(0)" ng-click="remove(item, $index)" ng-show="isAdmin">
                                <i class="icon-remove"></i>
                            </a>
                        </span>
                    </h4>
                    <p ng-bind-html="item.content | line"></p>
                </div>
                <hr/>
            </div>
            <!-- End Recent Comments -->
        </div>
    </div> 
</div>
<!--=== End Content Part ===-->

