@-moz-keyframes slowspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(225deg);
  -moz-transform:rotateX(-33.5deg)rotateY(225deg);
  -o-transform:rotateX(-33.5deg)rotateY(225deg);
  -ms-transform:rotateX(-33.5deg)rotateY(225deg);
  transform:rotateX(-33.5deg)rotateY(225deg)
}
}@-webkit-keyframes slowspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(225deg);
  -moz-transform:rotateX(-33.5deg)rotateY(225deg);
  -o-transform:rotateX(-33.5deg)rotateY(225deg);
  -ms-transform:rotateX(-33.5deg)rotateY(225deg);
  transform:rotateX(-33.5deg)rotateY(225deg)
}
}@-o-keyframes slowspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(225deg);
  -moz-transform:rotateX(-33.5deg)rotateY(225deg);
  -o-transform:rotateX(-33.5deg)rotateY(225deg);
  -ms-transform:rotateX(-33.5deg)rotateY(225deg);
  transform:rotateX(-33.5deg)rotateY(225deg)
}
}@-ms-keyframes slowspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(225deg);
  -moz-transform:rotateX(-33.5deg)rotateY(225deg);
  -o-transform:rotateX(-33.5deg)rotateY(225deg);
  -ms-transform:rotateX(-33.5deg)rotateY(225deg);
  transform:rotateX(-33.5deg)rotateY(225deg)
}
}@keyframes slowspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(225deg);
  -moz-transform:rotateX(-33.5deg)rotateY(225deg);
  -o-transform:rotateX(-33.5deg)rotateY(225deg);
  -ms-transform:rotateX(-33.5deg)rotateY(225deg);
  transform:rotateX(-33.5deg)rotateY(225deg)
}
}@-moz-keyframes fastspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(-315deg);
  -moz-transform:rotateX(-33.5deg)rotateY(-315deg);
  -o-transform:rotateX(-33.5deg)rotateY(-315deg);
  -ms-transform:rotateX(-33.5deg)rotateY(-315deg);
  transform:rotateX(-33.5deg)rotateY(-315deg)
}
}@-webkit-keyframes fastspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(-315deg);
  -moz-transform:rotateX(-33.5deg)rotateY(-315deg);
  -o-transform:rotateX(-33.5deg)rotateY(-315deg);
  -ms-transform:rotateX(-33.5deg)rotateY(-315deg);
  transform:rotateX(-33.5deg)rotateY(-315deg)
}
}@-o-keyframes fastspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(-315deg);
  -moz-transform:rotateX(-33.5deg)rotateY(-315deg);
  -o-transform:rotateX(-33.5deg)rotateY(-315deg);
  -ms-transform:rotateX(-33.5deg)rotateY(-315deg);
  transform:rotateX(-33.5deg)rotateY(-315deg)
}
}@-ms-keyframes fastspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(-315deg);
  -moz-transform:rotateX(-33.5deg)rotateY(-315deg);
  -o-transform:rotateX(-33.5deg)rotateY(-315deg);
  -ms-transform:rotateX(-33.5deg)rotateY(-315deg);
  transform:rotateX(-33.5deg)rotateY(-315deg)
}
}@keyframes fastspin {
  0% {
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg)
}
10%,100% {
  -webkit-transform:rotateX(-33.5deg)rotateY(-315deg);
  -moz-transform:rotateX(-33.5deg)rotateY(-315deg);
  -o-transform:rotateX(-33.5deg)rotateY(-315deg);
  -ms-transform:rotateX(-33.5deg)rotateY(-315deg);
  transform:rotateX(-33.5deg)rotateY(-315deg)
}
}
.logo {
width: 185px;
height: 220px;
position: absolute;
overflow: hidden;
}
.cube {
  width:100%;
  height:100%;
  padding:0;
  -webkit-transform-origin:50px 50px;
  -moz-transform-origin:50px 50px;
  -o-transform-origin:50px 50px;
  -ms-transform-origin:50px 50px;
  transform-origin:50px 50px;
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg);
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-animation:slowspin 10s ease-in-out infinite 2s;
  -moz-animation:slowspin 10s ease-in-out infinite 2s;
  -o-animation:slowspin 10s ease-in-out infinite 2s;
  -ms-animation:slowspin 10s ease-in-out infinite 2s;
  animation:slowspin 10s ease-in-out infinite 2s;
  margin:-50px 0 0 -50px;
  top:50%;
  left:50%
}
.cube,.cube li {
  display:block;
  position:absolute
}
.cube li {
  width:100px;
  height:100px;
  -webkit-transition:-webkit-transform 1s ease-in-out;
  -moz-transition:-moz-transform 1s ease-in-out;
  -o-transition:-o-transform 1s ease-in-out;
  -ms-transition:-ms-transform 1s ease-in-out;
  transition:transform 1s ease-in-out
}
.cube .front,.cube .back,.cube .right,.cube .left,.cube .top {
  background:-webkit-radial-gradient(transparent 30%,rgba(16,47,91,.2)100%);
  background:-moz-radial-gradient(transparent 30%,rgba(16,47,91,.2)100%);
  background:-o-radial-gradient(transparent 30%,rgba(16,47,91,.2)100%);
  background:-ms-radial-gradient(transparent 30%,rgba(16,47,91,.2)100%);
  background:radial-gradient(transparent 30%,rgba(16,47,91,.2)100%)
}
.cube li:after {
  content:"";
  display:block;
  position:absolute;
  width:100px;
  height:100px;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;
  background-color:rgba(126,169,232,.5);
  -webkit-transition:-webkit-transform 1s ease-in-out;
  -moz-transition:-moz-transform 1s ease-in-out;
  -o-transition:-o-transform 1s ease-in-out;
  -ms-transition:-ms-transform 1s ease-in-out;
  transition:transform 1s ease-in-out
}
.cube .front {
  -webkit-transform:translateZ(50px);
  -moz-transform:translateZ(50px);
  -o-transform:translateZ(50px);
  -ms-transform:translateZ(50px);
  transform:translateZ(50px)
}
.cube .back {
  -webkit-transform:rotateX(-180deg)translateZ(50px);
  -moz-transform:rotateX(-180deg)translateZ(50px);
  -o-transform:rotateX(-180deg)translateZ(50px);
  -ms-transform:rotateX(-180deg)translateZ(50px);
  transform:rotateX(-180deg)translateZ(50px)
}
.cube .right {
  -webkit-transform:rotateY(90deg)translateZ(50px);
  -moz-transform:rotateY(90deg)translateZ(50px);
  -o-transform:rotateY(90deg)translateZ(50px);
  -ms-transform:rotateY(90deg)translateZ(50px);
  transform:rotateY(90deg)translateZ(50px)
}
.cube .left {
  -webkit-transform:rotateY(-90deg)translateZ(50px);
  -moz-transform:rotateY(-90deg)translateZ(50px);
  -o-transform:rotateY(-90deg)translateZ(50px);
  -ms-transform:rotateY(-90deg)translateZ(50px);
  transform:rotateY(-90deg)translateZ(50px)
}
.cube .top {
  -webkit-transform:rotateX(90deg)translateZ(50px);
  -moz-transform:rotateX(90deg)translateZ(50px);
  -o-transform:rotateX(90deg)translateZ(50px);
  -ms-transform:rotateX(90deg)translateZ(50px);
  transform:rotateX(90deg)translateZ(50px)
}
.cube .top:after {
  background-color:rgba(152,186,237,.5)
}
.cube .bottom {
  -webkit-transform:rotateX(-90deg)translateZ(50px);
  -moz-transform:rotateX(-90deg)translateZ(50px);
  -o-transform:rotateX(-90deg)translateZ(50px);
  -ms-transform:rotateX(-90deg)translateZ(50px);
  transform:rotateX(-90deg)translateZ(50px)
}
.cube .floor:after {
  display:none
}
.cube .floor {
  -webkit-box-shadow:-300px 0 50px rgba(0,0,0,.3);
  box-shadow:-300px 0 50px rgba(0,0,0,.3);
  -webkit-backface-visibility:visible;
  -moz-backface-visibility:visible;
  -ms-backface-visibility:visible;
  backface-visibility:visible;
  width:110px;
  height:110px;
  left:295px;
  background-color:rgba(0,0,0,0);
  -webkit-transform:rotateX(-90deg)translateZ(60px);
  -moz-transform:rotateX(-90deg)translateZ(60px);
  -o-transform:rotateX(-90deg)translateZ(60px);
  -ms-transform:rotateX(-90deg)translateZ(60px);
  transform:rotateX(-90deg)translateZ(60px)
}
.cube-inner {
  width:100%;
  height:100%;
  padding:0;
  top:50%;
  left:50%;
  -webkit-transform-origin:25px 25px;
  -moz-transform-origin:25px 25px;
  -o-transform-origin:25px 25px;
  -ms-transform-origin:25px 25px;
  transform-origin:25px 25px;
  margin:-25px 0 0 -25px;
  -webkit-transform:rotateX(-33.5deg)rotateY(45deg);
  -moz-transform:rotateX(-33.5deg)rotateY(45deg);
  -o-transform:rotateX(-33.5deg)rotateY(45deg);
  -ms-transform:rotateX(-33.5deg)rotateY(45deg);
  transform:rotateX(-33.5deg)rotateY(45deg);
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-animation:fastspin 10s ease-in-out infinite 2s;
  -moz-animation:fastspin 10s ease-in-out infinite 2s;
  -o-animation:fastspin 10s ease-in-out infinite 2s;
  -ms-animation:fastspin 10s ease-in-out infinite 2s;
  animation:fastspin 10s ease-in-out infinite 2s
}
.cube-inner,.cube-inner li {
  display:block;
  position:absolute;
  padding: 0;
}
.cube-inner li {
  width:50px;
  height:50px;
  -webkit-transition:-webkit-transform 1s ease-in-out;
  -moz-transition:-moz-transform 1s ease-in-out;
  -o-transition:-o-transform 1s ease-in-out;
  -ms-transition:-ms-transform 1s ease-in-out;
  transition:transform 1s ease-in-out
}
.cube-inner .front,.cube-inner .back,.cube-inner .right,.cube-inner .left,.cube-inner .top {
  background:-webkit-radial-gradient(transparent 30%,rgba(5,17,53,.2)100%);
  background:-moz-radial-gradient(transparent 30%,rgba(5,17,53,.2)100%);
  background:-o-radial-gradient(transparent 30%,rgba(5,17,53,.2)100%);
  background:-ms-radial-gradient(transparent 30%,rgba(5,17,53,.2)100%);
  background:radial-gradient(transparent 30%,rgba(5,17,53,.2)100%)
}
.cube-inner li:after {
  content:"";
  display:block;
  position:absolute;
  width:50px;
  height:50px;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;
  background-color:rgba(16,58,177,.5);
  -webkit-transition:-webkit-transform 1s ease-in-out;
  -moz-transition:-moz-transform 1s ease-in-out;
  -o-transition:-o-transform 1s ease-in-out;
  -ms-transition:-ms-transform 1s ease-in-out;
  transition:transform 1s ease-in-out
}
.cube-inner .front {
  -webkit-transform:translateZ(25px);
  -moz-transform:translateZ(25px);
  -o-transform:translateZ(25px);
  -ms-transform:translateZ(25px);
  transform:translateZ(25px)
}
.cube-inner .back {
  -webkit-transform:rotateX(-180deg)translateZ(25px);
  -moz-transform:rotateX(-180deg)translateZ(25px);
  -o-transform:rotateX(-180deg)translateZ(25px);
  -ms-transform:rotateX(-180deg)translateZ(25px);
  transform:rotateX(-180deg)translateZ(25px)
}
.cube-inner .right {
  -webkit-transform:rotateY(90deg)translateZ(25px);
  -moz-transform:rotateY(90deg)translateZ(25px);
  -o-transform:rotateY(90deg)translateZ(25px);
  -ms-transform:rotateY(90deg)translateZ(25px);
  transform:rotateY(90deg)translateZ(25px)
}
.cube-inner .left {
  -webkit-transform:rotateY(-90deg)translateZ(25px);
  -moz-transform:rotateY(-90deg)translateZ(25px);
  -o-transform:rotateY(-90deg)translateZ(25px);
  -ms-transform:rotateY(-90deg)translateZ(25px);
  transform:rotateY(-90deg)translateZ(25px)
}
.cube-inner .top {
  -webkit-transform:rotateX(90deg)translateZ(25px);
  -moz-transform:rotateX(90deg)translateZ(25px);
  -o-transform:rotateX(90deg)translateZ(25px);
  -ms-transform:rotateX(90deg)translateZ(25px);
  transform:rotateX(90deg)translateZ(25px)
}
.cube-inner .top:after {
  background-color:rgba(22,78,234,.5)
}
.cube-inner .bottom {
  -webkit-transform:rotateX(-90deg)translateZ(25px);
  -moz-transform:rotateX(-90deg)translateZ(25px);
  -o-transform:rotateX(-90deg)translateZ(25px);
  -ms-transform:rotateX(-90deg)translateZ(25px);
  transform:rotateX(-90deg)translateZ(25px)
}
.cube-inner .floor:after {
  display:none
}
.cube-inner .floor {
  -webkit-box-shadow:-300px 0 50px rgba(0,0,0,.3);
  box-shadow:-300px 0 50px rgba(0,0,0,.3);
  -webkit-backface-visibility:visible;
  -moz-backface-visibility:visible;
  -ms-backface-visibility:visible;
  backface-visibility:visible;
  width:60px;
  height:60px;
  left:295px;
  background-color:rgba(0,0,0,0);
  -webkit-transform:rotateX(-90deg)translateZ(35px);
  -moz-transform:rotateX(-90deg)translateZ(35px);
  -o-transform:rotateX(-90deg)translateZ(35px);
  -ms-transform:rotateX(-90deg)translateZ(35px);
  transform:rotateX(-90deg)translateZ(35px)
}
