textarea, input, .badge {
   border-radius: 0 !important;
}

#logo-header{ width: 30px;height: 30px;position: relative;top: -3px;}

.body {
    margin-bottom: 55px;
}

.navbar-brand{
  font-size: 26px;
  padding: 14px 0px 0px 60px !important;
  cursor: default;
}

.loadingbox {
    text-align: center;
    height: 32px;
    line-height: 18px;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -45px;
    padding: 6px 16px 6px 16px;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    background: #f9edbe;
    border: 1px solid #f0c36d;
    z-index: 10000;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

[ng-view].ng-enter {
  transition: .5s .5s margin-top, 1s .5s opacity;
}

[ng-view].ng-leave {
  transition: .5s;
}

[ng-view].ng-enter {
  opacity: 0;
  margin-top: -50px;
}
[ng-view].ng-enter.ng-enter-active {
  opacity: 1;
  margin-top: 0;
}
[ng-view].ng-leave.ng-leave-active {
  opacity: 0;
  margin-top: -50px;
}

.animate-comment.ng-move,
.animate-comment.ng-enter,
.animate-comment.ng-leave {
  -webkit-transition: .5s;
  transition: .5s;
}

.animate-comment.ng-leave.ng-leave-active,
.animate-comment.ng-move,
.animate-comment.ng-enter {
  transform: scale3d(.3, .3, .3);
  opacity: 0
}

.animate-comment.ng-leave,
.animate-comment.ng-move.ng-move-active,
.animate-comment.ng-enter.ng-enter-active {
  transform: none;
  opacity: 1;
}
