@using YangKai.BlogEngine.Common
<div id="title">
    <div id="logo">
        <img src="@Config.Path.LOGO_PIC_PATH" alt="iSHARE" />
    </div>
    <div id="caption">
        <h1><a href="@Config.URL.Domain">@Config.Literal.SITE_NAME</a></h1>
        <div id="tagline">SHARE·LINK·FUN - @(ViewBag.SubCaption ?? Config.URL.Domain)</div>
    </div>
    <div class="clear"></div>
</div>