@model YangKai.BlogEngine.Modules.PostModule.Objects.Post
<div id="tagbox" class="postbox">
    <h3>文章标签</h3>
    <div class="inside">
        <p>@Html.TextBox("tag", Model == null ? string.Empty : string.Join(",", Model.Tags.Select(item => item.Name)))</p>
	    <p>多个标签请用英文逗号（,）分开</p>
        <p><a class="choose_before" href="javascript:void(0);">从常用标签中选择</a></p>
        <div id="tag_list" style="display:none;"></div>
    </div>
</div>