<div class="loadingbox" ng-show="loading">{{loading}}...</div>

<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/admin/">Home</a>
        </li>
    <li class="active">Channels</li>
    </ul>
</div>

<div class="page-content">
    <div class="text-right">
        <button class="btn btn-primary btn-sm" type="button" ng-click="add()" >
            <i class="icon-plus"></i> New Channel
        </button>
    </div>
    <div class="hr hr-10 dotted hr-double"></div>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Default</th>
                <th>Name</th>
                <th>Url</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list.value">
                <td><span ng-show="item.IsDefault"><i class="icon-ok"></i></span></td>
                <td>{{item.Name}}</td>
                <td>{{item.Url}}</td>
                <td>{{item.Description}}</td>
                <td><a ng-href="/admin/channel('{{item.Url}}')/group">Groups</a></td>
                <td>
                    <div class="action-buttons">
                        <a class="green" href="JavaScript:void(0)" ng-click="edit(item)">
                            <i class="icon-pencil bigger-130"></i>
                        </a>
                        <a class="red" href="JavaScript:void(0)" ng-click="remove(item)">
                            <i class="icon-trash bigger-130"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div modal="editDialog" close="close()" options="{backdrop: true,dialogFade:true}">
        <div class="modal-dialog">
            <form name="form" class="modal-content" ng-submit="save()">
                <div class="modal-header">
                    Edit Channel
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" ng-model="entity.Name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Url</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" ng-model="entity.Url" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Description</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" ng-model="entity.Description" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">
                                <label>
                                    <input type="checkbox" class="ace" ng-model="entity.IsDefault" />
                                    <span class="lbl">Default</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" ng-disabled="form.$invalid || loading">
                        <i class="icon-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="close()">
                        <i class="icon-undo"></i>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>