@model YangKai.BlogEngine.Web.Mvc.Models.CommentViewModel
@{
    Layout = null;
}

<div id="comment">
    <div class="title">
        <span>文章评论</span>
    </div>
    <!-- list START -->
    <div id="commentlist">
        <div class="ko-grid-loader" data-bind="visible: list() === null"></div>
        <p data-bind="visible: list().length == 0" style="display: none;">本文目前尚无任何评论.</p>
        <ul id="thecomments" data-bind="template: { name: 'comment-item', foreach: list, afterAdd: elementFadeIn }, visible: list().length > 0"></ul>
    </div>
    <!-- list END -->
    <!-- respond START -->
    <div class="respond">
        <form data-bind="submit: add">
            <p data-bind="visible: username().length > 0">
                欢迎回来, <strong data-bind="text: username"></strong>
                <span>
                    <a href="javascript:void(0);" data-bind="text: controldisplayauthoreditor() ? '隐藏 »' : '更改 »', click: change"></a>
                </span>
            </p>
            <div data-bind="visible: username().length == 0 || controldisplayauthoreditor">
                <p>
                    <input class="textfield" id="Author" name="Author" type="text" data-bind="value: username" />
                    <label for="Author">昵称(必填)</label>
                </p>
                <p>
                    <input class="textfield" id="Email" name="Email" type="text" data-bind="value: email" />
                    <label for="Author">电子邮箱 (我们会为您保密)</label>
                </p>
                <p>                
                    <input class="textfield" id="Url" name="Url" type="text" data-bind="value: url" />
                    <label for="Author">网址</label>
                </p>       
            </div>
            <p>
                <textarea cols="20" id="Content" name="Content" rows="2"></textarea>
            </p>
            <div class="submitbox">
                <div class="submitbutton"><input type="submit" value="提交" data-bind="disable: loading().length > 0" /></div>
                <div class="loading" data-bind="text: loading, visible: loading().length > 0" style="display: none;"></div>
                <div class="error" data-bind=" text: error, visible: error().length > 0" style="display: none;"></div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <!-- respond END -->
</div>