<div id="comment">
    <div class="title"><span>文章评论</span></div>
    <!-- list START -->
    <div id="commentlist">
        <div class="ko-grid-loader" data-bind="visible: list() === null"></div>
        <p data-bind="visible: list().length == 0" style="display: none;">本文目前尚无任何评论.</p>
        <ul id="thecomments" data-bind="template: { name: 'comment-item', foreach: list, afterAdd: elementFadeIn }, visible: list().length > 0"></ul>
    </div>
    <!-- list END -->
    <!-- respond START -->
    <div class="respond">
        <form data-bind="submit: add">
            <p data-bind="visible: username().length > 0">
                欢迎回来, <strong data-bind="text: username"></strong>
                <span>
                    <a href="javascript:void(0);" data-bind="text: controldisplayauthoreditor() ? '隐藏 »' : '更改 »', click: change"></a>
                </span>
            </p>
            <div data-bind="visible: username().length == 0 || controldisplayauthoreditor">
                <p>
                    <input class="span3" placeholder="昵称(必填)" id="Author" name="Author" type="text" data-bind="value: username" />
                    <label>昵称*</label>
                </p>
                <p>
                    <input class="span3" id="Email" name="Email" type="text" data-bind="value: email" />
                    <label>邮箱</label>
                </p>
                <p>
                    <input class="span3" id="Url" name="Url" type="text" data-bind="value: url" />
                    <label>网址</label>               
                </p>       
            </div>
            <p><textarea id="Content" name="Content" rows="4"></textarea></p>
            <div>
                <button class="btn btn-primary btn-large" data-bind="disable: loading().length > 0">提交</button>
                <span class="loading" data-bind="text: loading, visible: loading().length > 0" style="display: none;"></span>
                <span class="text-error" data-bind=" text: error, visible: error().length > 0" style="display: none;"></span>
            </div>
        </form>
    </div>
    <!-- respond END -->
</div>