@model IList<YangKai.BlogEngine.Domain.Channel>
<!doctype html>
<html ng-cloak ng-app="app-admin" class="no-js" ng-controller="GlobalController">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>iShare Management</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/style/css")
        <script src="/Content/js/modernizr-2.6.2.min.js"></script>
        <style>
            .breadcrumb {border-left-color: #3a87ad;}
            ::-moz-selection {background: #d9edf7;}
            ::selection {background: #d9edf7;}
            ::-webkit-selection {background: #d9edf7;}    
        </style>
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin/#!/"><img src="/Content/img/logo.gif" />Management</a>
                </div>
                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Article <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="/admin/#!/article">Manage</a></li>
                                <li class="divider"></li>
                                <li><a ng-href="/admin/#!/channel">Base Data</a></li>
                            </ul>
                        </li>
                        <li><a ng-href="/admin/#!/board">Message boards</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-controller="LoginController">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <img ng-src="{{User.Gravatar}}" class="avatar-mini" />
                                &nbsp;<span>{{User.UserName}}</span>
                            </a>
                            <ul class="dropdown-menu personal-box">
                                <li>
                                    <div class="row hr">
                                        <div class="col-lg-4">
                                            <img ng-src="{{User.Gravatar}}" class="avatar" />
                                        </div>
                                        <div class="col-lg-8">
                                            <div><strong>{{User.UserName}}</strong></div>
                                            <p>{{User.Email}}</p>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <button class="button button-flat-action" ng-click="view()">Back</button>
                                    </div>
                                    <div class="pull-right">
                                        <button class="button button-flat-caution" ng-click="signout()">Sign out</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="content">
                <div ng-view></div>
            </div>
        </div>
        @Scripts.Render("~/admin/js")
    </body>
</html>