@model IList<YangKai.BlogEngine.Domain.Channel>
<!doctype html>
<html ng-cloak ng-app="app-admin" class="no-js" ng-controller="GlobalController">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>@Html.Raw(YangKai.BlogEngine.Common.Config.Literal.SITE_NAME) Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        @Styles.Render("~/Content/style/admin-css")
        <script src="/Content/plugin/ckeditor_3.6.1/ckeditor.js"></script>
        <script src="/Content/plugin/ckfinder_aspnet_2.0.1/ckfinder.js"></script>
        @Scripts.Render("~/admin-js")
    </head>
    <body class="navbar-fixed breadcrumbs-fixed">
        <div class="navbar navbar-default navbar-fixed-top" id="navbar">
            <div class="navbar-container" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <i class="icon-bug"></i>
                            @Html.Raw(YangKai.BlogEngine.Common.Config.Literal.SITE_NAME) Management
                        </small>
                    </a>
                </div>
                <div class="navbar-header pull-right" role="navigation" ng-controller="LoginController">
                    <ul class="nav ace-nav">
                        <li class="grey">
                            <a href="javascript:void(0)" ng-click="GoHome()" title="Redirect To Website.">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="purple">
							<a href="/elmah.axd" target="_blank" title="Error log.">
								<i class="icon-bug"></i>
							</a>
						</li>
                        <li class="light-blue">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" ng-src="{{User.Avatar}}" />
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    {{User.UserName}}
                                </span>
                                <i class="icon-caret-down"></i>
                            </a>
                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="JavaScript:void(0)" ng-click="signout()">
                                        <i class="icon-off"></i>
                                        Sign out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-container" id="main-container">
            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>
                <div class="sidebar sidebar-fixed" id="sidebar">
                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                            <button class="btn btn-success"></button>
                            <button class="btn btn-info"></button>
                            <button class="btn btn-warning"></button>
                            <button class="btn btn-danger"></button>
                        </div>
                        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                            <span class="btn btn-success"></span>
                            <span class="btn btn-info"></span>
                            <span class="btn btn-warning"></span>
                            <span class="btn btn-danger"></span>
                        </div>
                    </div>
                    <ul class="nav nav-list">
                        <li active-link="active">
                            <a href="/admin">
                                <i class="icon-dashboard"></i>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li active-parent-link="open active">
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-indent-right"></i>
                                <span class="menu-text">Article</span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li active-link="active">
                                    <a href="/admin/article">
                                        <i class="icon-double-angle-right"></i>
                                        Manage
                                    </a>
                                </li>
                                <li active-link="active">
                                    <a href="/admin/channel">
                                        <i class="icon-double-angle-right"></i>
                                        Base Data
                                    </a>
                                </li>
                            </ul>
                        </li>
@*                        <li active-link="active">*@
@*                            <a href="/admin/board">*@
@*                                <i class="icon-comments"></i>*@
@*                                <span class="menu-text">Board</span>*@
@*                            </a>*@
@*                        </li>*@
                        <li active-link="active">
                            <a href="/admin/gallery">
                                <i class="icon-picture"></i>
                                <span class="menu-text">Gallery</span>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-collapse" id="sidebar-collapse">
                        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                    </div>
                    <script type="text/javascript">
                        try { ace.settings.check('sidebar', 'collapsed'); } catch (e) { }
                    </script>
                </div>
                <div class="main-content" ng-view></div>
            </div>
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div>
    </body>
</html>