<!doctype html>
<html ng-cloak ng-app="app-login">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>iShare - Login</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/style/css")
        <script src="/Content/js/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-controller="LoginController">
        <div class="container">
            <div class="col-sm-offset-3 col-sm-6">
                <form name="form" class="form-horizontal well" ng-submit="signin()">
                    <fieldset>
                        <legend>Sign in</legend>
                        <div class="container">
                            <div class="content">
                                <form name="form" class="modal-content" ng-submit="signin()">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">User Name</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" id="inputEmail1" placeholder="User name" ng-model="user.Username" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Password</label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" placeholder="Password" ng-model="user.Password" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-3 col-lg-9">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-init="user.IsRemember=false" ng-model="user.IsRemember"> Remember me
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-3 col-lg-9">
                                                <button class="button button-flat-primary" ng-disabled="form.$invalid">Sign in</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    @Scripts.Render("~/js")
    </body>
</html>