<p data-bind="visible: $data.TotalItemCount() === 0">
    没有数据.
</p>
<ul data-bind="visible: $data.TotalItemCount() !== 0" class="pager">
    <!-- ko if:HasPrevPage -->
    <li class="previous">
        <a href="#" data-bind="click: function () { CurrentPage(CurrentPage() - 1); }">&larr; 上一页</a></li>
    <!-- /ko -->
    <!-- ko ifnot:HasPrevPage -->
    <li class="previous disabled">
        <a href="#" class="disabledPage">&larr; 上一页</a></li>
    <!-- /ko -->
    <!-- ko if:HasNextPage -->
    <li class="next">
        <a href="#" data-bind="click: function () { CurrentPage(CurrentPage() + 1); }">下一页 &rarr;</a></li>
    <!-- /ko -->
    <!-- ko ifnot:HasNextPage -->
    <li class="next disabled">
        <a href="#" class="disabledPage">下一页 &rarr;</a></li>
    <!-- /ko -->
</ul>