<li>
    <div class="gravatar">
        <img src="/Content/img/avatar.png" />
    </div>
    <div class="text">
        <span>
            <span class="text-error" data-bind="visible: $data.IsDeleted">该回复已删除,仅管理员可见.</span>
            <span data-bind="text: '#' + ($parent.list().length - $index())"></span>
        </span>
        <div>	
            <span class="commentid" data-bind="text: $data.Author"></span> : 
            <p data-bind="html: $data.Content"></p>
        </div>
        <div class="comment-meta">
            <span data-bind="text: $data.CreateDate.Format('yyyy.MM.dd hh:mm')"></span> 
            <span data-bind="visible: $root.isAdmin">
                <a href="JavaScript:void(0)" class="text-error" data-bind="click: $root.del, visible: $data.IsDeleted == false">[删除]</a>
                <a href="JavaScript:void(0)" class="text-error" data-bind="click: $root.renew, visible: $data.IsDeleted">[恢复]</a>
            </span>
        </div>
    </div>
</li>