<div data-bind="with: listViewModel, visible: State() === 'list'">
<!--    TODO 使用ko动态生成-->
    <!--        @if (!string.IsNullOrEmpty(Request.QueryString["c"]))-->
    <!--        {-->
    <!--            <div class="boxcaption"><h3>存档</h3></div>-->
    <!--            <div class="box">‘@(QueryFactory.Instance.Post.GetCategory(Request.QueryString["c"]).Name)’ 分类的存档</div>-->
    <!--        }-->
    <!--        @if (!string.IsNullOrEmpty(Request.QueryString["t"]))-->
    <!--        {-->
    <!--            <div class="boxcaption"><h3>存档</h3></div>-->
    <!--            <div class="box">文章标签 ‘@Request.QueryString["t"]’</div>-->
    <!--        }-->
    <!--        else if (!string.IsNullOrEmpty(Request.QueryString["d"]))-->
    <!--        {-->
    <!--            <div class="boxcaption"><h3>存档</h3></div>-->
    <!--            <div class="box">‘@Request.QueryString["d"]’ 分类的存档</div>-->
    <!--        }-->
    <!--        else if (!string.IsNullOrEmpty(Request.QueryString["k"]))-->
    <!--        {-->
    <!--            <div class="boxcaption"><h3>搜索结果</h3></div>-->
    <!--            <div class="box">关键字:‘@Request.QueryString["k"]’</div>-->
    <!--        }-->
    <div>
        <ul data-bind="template: { name: 'post-item', foreach: list }"></ul>
        <div class="loadingbox" data-bind="visible: loading">加载中...</div>
        <div class="pagination" data-bind="template: { name: '_pager', foreach: Pager }"></div>
    </div>
</div>
<div data-bind="with: detailViewModel, visible: State() === 'detail'"></div>