<div data-bind="with: listViewModel, visible: State() === 'list'">
    <div data-bind="visible:type()=='category'">
        <div class="boxcaption">存档</div>
        <div class="box">‘<span data-bind="text:query()"></span>’ 分类的存档</div>
    </div>
    <div data-bind="visible: type() == 'tag'">
        <div class="boxcaption">存档</div>
        <div class="box">文章标签 ‘<span data-bind="text: query()"></span>’</div>
    </div>
    <div data-bind="visible: type() == 'date'">
        <div class="boxcaption">存档</div>
        <div class="box">发布日期 ‘<span data-bind="text: query()"></span>’</div>
    </div>
    <div data-bind="visible: type() == 'search'">
        <div class="boxcaption">搜索结果</div>
        <div class="box">关键字: ‘<span data-bind="text: query()"></span>’</div>
    </div>
    <div>
        <ul data-bind="template: { name: 'post-item', foreach: list }"></ul>
        <div class="loadingbox" data-bind="visible: loading">加载中...</div>
        <div class="pagination" data-bind="template: { name: '_pager-no-list', foreach: Pager }"></div>
    </div>
</div>
<div data-bind="with: detailViewModel, visible: State() === 'detail'"></div>