@charset "utf-8"; 

body {margin:0px; padding:0px;color: #484f5a; font: normal normal normal 76%/1.6em Georgia, '宋体', Times, serif;line-height: 1.8em;}
/* all style */
a {color: #2970A6;text-decoration: none;}
a:hover{color:#2970A6;text-decoration: underline;}
ul,li,h1,h2,h3,h4,h5,h6,form,hr,p{padding:0px; margin:0px;}
ul{list-style:none;}
img{border:none;}
.fb{font-weight:bold;}
.fl{float:left;}
.fr{float:right;}
.tl{ text-align:left;}
.tr{text-align:right;}
.clear{clear:both;}
.db{display:block;}
.dn{display:none;}
.blue{color:#26AAE1;}
.red{color:#D91D3F;}
.gray{color:Gray;}

/* btn */
#submitbox .submitbutton {float:right;}
#submitbox #info {float:right; padding:5px 5px 0px 20px; display:none; background:url(/Content/Image/ajax-loader.gif) 0px 3px no-repeat;}
#submitbox .submit {padding:3px 6px;background:#B4D666;border-top:1px solid #B4D666;border-right:1px solid #81B840;border-bottom:1px solid #81B840;border-left:1px solid #B4D666;color:#2970A6;cursor:pointer;}
#submitbox #submit:hover {background:#98C64C;border-top:1px solid #76B33A;border-right:1px solid #98C64C;border-bottom:1px solid #98C64C;border-left:1px solid #76B33A;color:#074A7E;}

/* tb */
input.textfield, textarea {background: white url(/Content/Image/textfield.gif) repeat-x 50% 0%;border: 1px solid #A6A6A6;font-family: Verdana, 'BitStream vera Sans', Tahoma, Helvetica, sans-serif;font-size: 12px;padding: 2px 1px;}
input.textfield{width:180px;}
textarea{height:130px;width:600px;}
input.search{width:200px; background: url(/Content/Image/search.png) no-repeat 3px 2px; border: 1px solid #A6A6A6;font-family: Verdana, 'BitStream vera Sans', Tahoma, Helvetica, sans-serif;font-size: 12px;padding: 2px 0 2px 20px;}

/* 提示框 */
.boxcaption {background: #E3E4E6;border-bottom: 1px solid #CCC;padding: 3px 12px;border-top-left-radius: 5px 5px;border-top-right-radius: 5px 5px;}
.boxcaption h3 {font-family: Verdana, 'BitStream vera Sans', Tahoma, Helvetica, sans-serif;font-size: 12px;letter-spacing: 0em;}
.box {background: #F4F5F7;margin-bottom: 10px;padding: 6px 12px;border-bottom-left-radius: 5px 5px;border-bottom-right-radius: 5px 5px;}
/* 警告框 */
.messagebox{background: #fff;font-size: 11px; font-weight:normal;height: 27px;line-height: 27px;padding: 0px 12px;border-radius: 5px 5px; -moz-border-radius: 5px 5px;}
.warningbox{background: #d30000; color:#fff; font-size: 11px; font-weight:normal;padding: 0px 12px;border-radius: 5px 5px; -moz-border-radius: 5px 5px;}
.successbox{background: #21a675; color:#fff; font-size: 11px; font-weight:normal;padding: 0px 12px;border-radius: 5px 5px; -moz-border-radius: 5px 5px;}
.del,.draft,.audit,.delay,.del{color:#fff; font-size: 11px; font-weight:normal;padding: 0px 12px;border-radius: 5px 5px; -moz-border-radius: 5px 5px;}
.del{background: #d30000}
.draft{background: #ffa631}
.audit{background: #cca4e3}
.delay{background: #ffb3a7}
/* 图标 */
._date, ._author, ._categories, ._tags,._dot,._add,.icon-openlink{background: url(/Content/Image/icons.gif) no-repeat;font-size: 11px;height: 16px;line-height: 16px;padding-left: 20px;}
._date {background-position: 0px -48px;}
._author {background-position: 0px 0px;}
._categories {background-position: 0px -480px;}
._tags {background-position: 0px -400px;}
._dot {background-position: 0px -560px;}
._add {background-position: 0px -208px;}
.icon-openlink{background-position: 0px -336px;}

/* 分页控件样式 */
.pages {font-weight:bold; font-size:11px;line-height: 30px;}
.pages .item a{}
.pages .cpb {color:red;padding: 1px 6px;}
.pages a {padding: 5px 10px;margin: 0 2px; text-decoration:none; border: 1px solid #ddd;color:#000;font-weight:normal;}
.pages a:hover { background-color: #E61636; color:#fff;border:1px solid #E61636; text-decoration:none;font-weight:normal;}

/* header */
#header{margin:auto;}
#header .top{background:url(/Content/Image/head_bg.png) repeat-x; height:168px;}
#header .top .main{width:1002px; margin:auto;}
#header #title{ height:132px;}
#header #logo{float:left;padding:30px 0 0 20px;}
#header #caption{float:left;padding:60px 0 0 0px;}
#header #caption h1{font-size: 200%;color: white;height: 30px;text-decoration: none;}
#header #caption a{color: white;height: 30px;text-decoration: none;}
#header #tagline {border-top: 1px solid white;color: white;float: left;padding: 3px;}
#header .nav_top{background:url(/Content/Image/nav_top.png) repeat-x; line-height:5px; height:5px;}
#header #navigation{line-height:31px; height:31px;width:1002px;}
#header #navigation td{background:url(/Content/Image/nav_bg.png) repeat-x; text-align:center; font-size:12px; font-weight:bold;}
#header #navigation td a{text-decoration:none; display:block;color:#f2f2f2;}
#header #navigation td.left{background:url(/Content/Image/nav_left.png) no-repeat; width:45px;}
#header #navigation td.right{background:url(/Content/Image/nav_right.png) no-repeat; width:45px;}
#header #navigation td.link{width:78px;}
#header #navigation td.link a:hover{background:url(/Content/Image/nav_hover.png) repeat-x;}
#header #navigation td.lock{width:78px;background:url(/Content/Image/nav_lock.png) repeat-x;}
#header #navigation td.home{width:78px;background:url(/Content/Image/nav_home.png) no-repeat; }
#header #navigation td.home a{padding-left:15px;}
#header #navigation td.home a:hover{background:url(/Content/Image/nav_home_hover.png) repeat-x;}
#header #navigation td.homelock{width:78px;background:url(/Content/Image/nav_home_lock.png) no-repeat;}
#header #navigation td.homelock a{padding-left:15px;}
#header #navigation td.board{width:78px;background:url(/Content/Image/nav_board.png) no-repeat; }
#header #navigation td.board a{padding-left:15px;}
#header #navigation td.board a:hover{background:url(/Content/Image/nav_board_hover.png) repeat-x;}
#header #navigation td.boardlock{width:78px;background:url(/Content/Image/nav_board_lock.png) no-repeat;}
#header #navigation td.boardlock a{padding-left:15px;}
#header #navigation td.div{background:url(/Content/Image/nav_div.png) no-repeat; width:2px;}
#header #bannertop{background:url(/Content/Image/banner_top.png) repeat-x; line-height:11px; height:11px}
#header #banner{text-align:center; background:#32363d;}
#header #banner img{border:1px solid #32363d;width:973px; height:160px;}
#header #bannerbottom{background:url(/Content/Image/banner_bottom.png) repeat-x; line-height:10px; height:10px}
/* menu */
ul#menu{position: absolute;margin: 0px;padding: 0px;top: 0px;right: 10px;list-style: none;z-index:999999;width:412px;}
ul#menu li {width: 103px;display:inline;float:left;}
ul#menu li a {display: block;float:left;margin-top: -2px;width: 100px;height: 25px;background-color:#E7F2F9;background-repeat:no-repeat;background-position:50% 10px;border:1px solid #BDDCEF;border-radius:0px 0px 10px 10px;-moz-border-radius:0px 0px 10px 10px;text-decoration:none;text-align:center;opacity: 0.7;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);  }
ul#menu li a:hover{background-color:#CAE3F2;}
ul#menu li a span{letter-spacing:2px;font-size:11px;font-weight:bold;color:#2e9ad8;text-shadow: 0 -1px 1px #fff;}
/* content */
#middle{background:#595e67;}
#middle .body{background:url(/Content/Image/body_bg.png) repeat-y; width:1002px; margin:auto;}
#middle .body .main{padding: 0 25px 0 25px;}
#content {float: left;overflow: hidden;width: 605px; padding:13px 15px 0 15px;}
#sidebar {float: right;font-size: 95%; line-height: 145%;overflow: hidden;padding-top: 8px;width: 280px; margin-right:30px;}

/* footer */
#footer{background:#595e67;color:#52565d; text-align:center;display:block;font-size: 12px;}
#footer .body{background:url(/Content/Image/footer_bg.png); width:1002px; margin:auto; height:179px; line-height:21px;}
#footer .body .main{padding: 80px 65px 15px 65px;}

/* post */
#postnav {background: url(/Content/Image/icons.gif) no-repeat 0px -320px;line-height: 16px;margin: 5px 0px;padding-left: 22px;}
#posts li{margin: 0px 0px 25px;}
#posts h2 {border-bottom: 1px solid #CCC;display: block;font-family: Verdana, 'BitStream vera Sans';font-size: 16px;margin-top: 10px;padding:0px 5px 0px 5px;}
#posts h2 a {color: #4C4C4C;text-decoration: none;}
#posts h2 a:hover{color:#2970A6;text-decoration:none; }
#posts h2 .showdetail a{color: #2970A6;font-size: 12px;font-weight: normal;}
#posts h2 .showdetail a:hover{color:#2970A6;text-decoration:underline; }
#posts h2 .hidedetail{ display: none;}
#posts h2 .hidedetail a{color: #2970A6;font-size: 12px;font-weight: normal;}
#posts h2 .hidedetail a:hover{color:#2970A6;text-decoration:underline; }
#posts .postHeader{margin: 2px 5px 5px 5px;}
#posts .postBody {/*background: url(/Content/Image/post_line.gif);line-height: 20px;*/margin: 10px 5px;}
#posts .postBody p {margin: 0 0 5px 0;}
#posts .postBody li{padding: 0;margin: 0 0 0 40px; list-style: disc;}
#posts .postFooter {font-size: 11px;height: 31px;line-height: 31px;margin-bottom: 10px; }
#posts .postFooter img{vertical-align: middle;margin-top:8px; vertical-align:-3px;}
/* 小图标 */
#posts .date, #posts .author, #posts .editpost,#posts .deletepost,#posts .reviews,#posts .comments{background: url(/Content/Image/icons.gif) no-repeat;font-size: 11px;height: 16px;line-height: 16px;padding-left: 22px;}
#posts .date,#posts .author, #posts .editpost{margin-right: 15px;}
#posts .categories, #posts .tags{background: url(/Content/Image/icons.gif) no-repeat;font-size: 11px;margin-right:10px;padding-left: 22px;}
#posts .date {background-position: 0px -48px;float:left;}
#posts .author {background-position: 0px 0px;float:left;}
#posts .editpost{background-position: 0px -32px;float:left;}
#posts .deletepost{background-position: 0px -16px;float:left;}
#posts .reviews {background-position: 0px -80px;float: right;}
#posts .comments {background-position: 0px -96px;float: right;}
#posts .categories {background-position: 0px -480px;}
#posts .tags {background-position: 0px -400px;}
.api_qq{background: url(/Content/Image/connect_logo_qq.png) no-repeat;height: 16px;line-height: 16px;padding-left: 20px;}

/* 缩略图 */
#posts .thumb {margin: 0px 15px 0px 10px;float: left;border-width: 1px;border-color: #929292;border-style: solid;width: 160px;height: 100px;}
/* 新增文章 */
#addpost{float: right; font-weight:bold; margin:0 10px 0 0;}
/* 相关文章 */
#related_posts ul li {list-style: none;padding: 3px 5px;border-bottom: 1px solid #E3E4E6;line-height: 18px;}
/* 上一篇/下一篇 */
#postnavi {border-top:1px solid #CCC;margin:10px -15px 0;padding:10px 15px 0;}
#postnavi a.prev{background:url(/Content/Image/icons.gif) 0 -224px no-repeat;padding-left:22px;float:left;height:16px;line-height:16px;}
#postnavi a.next{background:url(/Content/Image/icons.gif) 100% -240px no-repeat;padding-right:22px;float:right;height:16px;line-height:16px;}

/* sidebar */
#sidebar .widget{background: url(/Content/Image/widget_div.png) no-repeat 50% 100%;padding: 10px 15px 16px;}
#sidebar .widget h3 {font-size: 120%; cursor:pointer; margin-bottom:5px;}
#sidebar .widget li {background: url(/Content/Image/icons.gif) no-repeat 0px -560px;margin-top: 5px;padding-left: 22px;}
#sidebar .widget p{line-height:21px;}
.feedrss{background: url(/Content/Image/feeds.gif) 5px 5px no-repeat;height: 25px;line-height: 25px;display: block;padding: 5px 5px 5px 36px;margin-left: 10px;text-decoration: none;font-size: 11px;}

/* comment */
#cmthead {padding-top:5px;}
#cmthead .curtab {padding:5px 10px;margin-bottom:-1px;display:block;float:right;color:#555;border:1px solid #CCC;border-bottom-color:#eaeef7;}
#cmthead .addcomment{padding-left:22px;height:16px;line-height:16px;display:block;float:left;margin-top:8px;background:url(/Content/Image/icons.gif) 0 -112px no-repeat;}
#commentlist {border-top:1px solid #CCC;border-bottom:1px solid #CCC;margin:0 -15px;padding:0 15px;}
#thecomments{padding-bottom:15px;}
#thecomments li{margin-top:15px;}
#thecomments li .author {float:left;width:81px;text-align:center;}
#thecomments li .pic {background:url(/Content/Image/commentpoint.gif) 100% 33% no-repeat;padding-right:14px;margin-top:10px;}
#thecomments li .name {width:67px;padding-right:14px;font-weight:bolder;overflow:hidden; margin-top:2px;}
#thecomments li .info {border-radius: 5px 5px;background:#fff;float:left;padding:10px 15px 0;width:494px;}
#thecomments li.admincomment .author {float:right;}
#thecomments li.admincomment .pic {background:url(/Content/Image/commentpoint.gif) 0% 33% no-repeat;padding-right:0;padding-left:12px;}
#thecomments li.admincomment .name {padding-right:0;padding-left:12px;}
#thecomments li.admincomment .info {float:right;}
#thecomments li .avatar {padding:1px;border:1px solid #999;}
#thecomments li .date {float:left;}
#thecomments li .act {float:right;}
#thecomments li .content {margin:0 -15px;padding:0 15px 10px;line-height:145%;}
#thecomments li .content p {margin-top:10px;}
/* respond */
#respond {padding:10px 0 0;}
#respond p {margin-bottom:5px;}
#respond #author_welcome img{ width:16px; height:16px;}
#replycontent{ width: 100%;height: 40px;}
/* about */
#siteintro{float: left;overflow: hidden;width: 550px;padding:60px 0 0 40px;background:url(/Content/Image/home_title.png) no-repeat 0 0;}
#siteintro p img{padding-left:30px; margin-top:10px;}
#sitetip {float: right;font-size: 95%;line-height: 145%;overflow: hidden;width: 302px; margin-right:15px;}
#sitetip .header{background:url(/Content/Image/site_tip_header.png) no-repeat;height:37px; line-height:37px; color:#e7eaef; font-weight:bold; text-align:center;}
#sitetip .content{background:url(/Content/Image/site_tip_content.png) repeat-y; padding: 5px 10px 5px 25px;}
#sitetip .footer{background:url(/Content/Image/site_tip_footer.png) no-repeat;height:37px; line-height:37px; font-weight:bold; text-align:center;}
#sitetip ul li{background:url(/Content/Image/site_tip_li.png) repeat-x;height:31px; line-height:31px;}
#sitetip ul li span{background:url(/Content/Image/site_tip_li_check.png) no-repeat;height:31px; line-height:31px; display:block; margin-left:40px; padding-left:25px; padding-top:3px;}
/* calendar */
#calendar{margin-left:50px;}
#calendar h2{font-weight:bold; cursor:pointer; background: url(/Content/Image/icons.gif) no-repeat 0px -48px;font-size: 11px;height: 16px;line-height: 16px;padding-left: 22px; margin-top:5px;}
#calendar h2 a span {background: url(/Content/Image/icons.gif) no-repeat;font-size: 11px;margin-right:10px;padding-left: 16px;}
#calendar h2 a span {background-position: 0px -288px;}
#calendar h2 a{ display:none;}
#calendar ul{display:none;margin-left:20px;}
/* board */
.board{width:700px; margin:0px auto 0px auto;}
.board #respond{width:605px;}
.board .add{width:500px;text-align:left; font-size:12px;}
.board .add p{margin-bottom:5px;}
/* refstat */
.refstat{font-size: 12px;width: 900px;padding-top: 20px;margin-right: auto;margin-left: auto;overflow: auto;}
.refstat .info{float: left;width: 240px;padding-left:20px;}
.refstat .img{float: right;width: 640px;text-align:center;}



