<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left">{{'global.menu.gallery' | translate}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">{{'global.breadcrumb.home' | translate}}</a></li>
            <li class="active">{{'global.menu.gallery' | translate}}</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row" ng-repeat="galleries in group">
        <div class="col-md-4" ng-repeat="gallery in galleries">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <a href="/gallery/{{gallery.url}}" ><img class="img-responsive" ng-src="{{gallery.cover | remoteImage}}" alt=""></a>
                    </div>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="/gallery/{{gallery.url}}">{{gallery.name | i18n}}</a></h3>
                    <p>{{gallery.description | i18n}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--=== End Content Part ===-->
