<div class="blog-post-tags">
    <ul class="list-unstyled list-inline blog-info">
        <li><i class="fa fa-calendar"></i> {{item.date | date:"yyyy/MM/dd"}}</li>
        <li>
            <i class="fa fa-bookmark"></i>
            <a ng-href="/list/{{item.category}}">{{item.category | i18nCategory | i18n}}</a>
        </li>
        <li><i class="fa fa-pencil"></i> {{item.meta.author}}</li>
        <li><i class="fa fa-comments"></i> {{'article.comments_count' | translate: item}}</li>
        <li><i class="fa fa-eye"></i> {{'article.views_count' | translate: item}}</li>
        <li ng-if="item.meta.source">
            <i class="fa fa-external-link"></i>
            <a  ng-href="{{item.meta.source}}" title="{{item.meta.source}}">{{'article.source' | translate}}</a>
        </li>
        <li ng-if="item.meta.tags.length > 0">
            <i class="fa fa-tags"></i>
            <a ng-repeat="tag in item.meta.tags track by $index" ng-href="/list/{{item.category}}/tag/{{tag}}">{{tag}}</a>
        </li>
        <li ng-if="auth.admin">
            <a href="JavaScript:void(0)" ng-click="edit(item)">{{'article.edit' | translate:item}}</a>
        </li>
    </ul>
</div>
