<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home home-icon"></i>
            <a href="/admin/">Home</a>
        </li>
        <li><a href="gallery">Gallery</a></li>
        <li class="active" ng-hide="entity._id">New</li>
        <li class="active" ng-show="entity._id">Edit (<span>{{ ::entity.name }}</span>)</li>
    </ul>
</div>

<div class="page-content">
    <tabset>
        <tab heading="Base">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-1 control-label">Name</label>
                    <div class="col-lg-11">
                        <input type="text" class="form-control" ng-model="entity.name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">Description</label>
                    <div class="col-lg-11">
                        <textarea class="form-control" ng-model="entity.description" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label"></label>
                    <div class="col-lg-11">
                        <label>
                            <input class="ace" type="checkbox" ng-model="entity.hidden" />
                            <span class="lbl"> Hidden</span>
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-if="entity._id">
                    <label class="col-lg-1 control-label">Cover</label>
                    <div class="col-lg-11">
                        <div ng-hide="entity.cover">
                            <input type="file" ng-file-select />
                        </div>
                        <div ng-show="entity.cover">
                            <img class="img-thumbnail img-article-thumbnail" style="width: 160px;height: 120px;" ng-src="{{entity.cover | remoteImage}}" />
                            <a href="JavaScript:void(0)" class="fa fa-remove" ng-click="removeCover()"></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label"></label>
                    <div class="col-lg-11">
                        <button type="button" class="btn btn-primary" ng-click="submit()">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Photos" ng-if="entity._id">
            <div ng-hide="uploadPhoto">
                <div class="clearfix form-group">
                    <button type="button" class="btn btn-primary pull-right" ng-click="changeUploadStatus()">
                        <i class="fa fa-cloud-upload"></i>
                        Upload
                    </button>
                </div>
                <ul class="ace-thumbnails clearfix">
                    <li ng-repeat="item in entity.photos">
                        <a ng-href="{{item.Path | remoteImage}}" data-rel="colorbox">
                            <img alt="" ng-src="{{item.thumbnail | remoteImage}}" style="width: 100px;height: 100px;" />
                            <div class="tags">
                                <span class="label-holder">
                                    <span class="label label-info arrowed">{{item.name}}</span>
                                </span>
                            </div>
                        </a>
                        <div class="tools tools-top">
                            <a ng-href="{{item.path | remoteImage}}" target="_blank">
                                <i class="fa fa-link white"></i>
                            </a>
                            <a href="JavaScript:void(0)" ng-click="removePhoto(item)">
                                <i class="fa fa-remove red"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-show="uploadPhoto">
                <div class="clearfix form-group">
                    <button type="button" class="btn btn-default pull-right" ng-click="changeUploadStatus()">
                        <i class="fa fa-reply"></i>
                        Back
                    </button>
                </div>
                <form zy-dropzone options="options"></form>

            </div>
        </tab>
    </tabset>
</div>